Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:12.18.0
  script:
  - (which yarn || npm i -g yarn@1.15.2)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - tar -czvf "${PACKAGE_NAME}.${PACKAGE_VERSION}.tar.gz" dist
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

deploy front staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$RECETTE "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  stage: config_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

add education section (only mobile)
  api/src/constants/lifeCriterions.js
  api/src/models/TableAmenities.js
  front/public/icons/crayon.svg
  front/public/icons/education.svg
  front/public/icons/kindergarten.svg
  front/public/icons/manual.svg
  front/public/icons/playground.svg
  front/public/icons/scence.svg
  front/public/icons/school.svg
  front/public/icons/science.svg
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix linting errors
  front/src/routes/cities/mobile-criterions-selection.js
Due: package 1/2, package 2/2, deploy front staging

Update README.md
  README.md
Due: none

shorten city description max length
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, deploy front staging

ui mobile tweak: autocomplete on top of screen when focused
  front/src/routes/search/search.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

fix absent mobile-selection-panel-tags
  front/src/routes/cities/mobile-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

tweak infotext position on search regions
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

fix: changing criterions on /cities reset the rome code by mistake
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

refactoringmaterial-ui all selects style
  front/src/App.js
  front/src/assets/styles/form.scss
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

tweak education panel position for desktop
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, deploy front staging

tweak mobility guide wording
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

revert part of the style tweaks previously made now that mobile search is position:fixed
  front/src/routes/search/search.js
  front/src/routes/search/step2.js
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

add filter base functionality
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

refactor cities component code style
  front/src/common/contexts/citiesContext.js
  front/src/routes/cities/cities.js
Due: package 1/2, package 2/2, deploy front staging

offer live calculation of offers number in filters
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

tweak jobs filters display
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

refactor & update faq
  front/src/constants/faq.js
  front/src/routes/faq/faq.js
Due: package 1/2, package 2/2, deploy front staging

add missing data for rome codes
  api/src/db/seeders/production/202107261429-add-rome-codes.js
  api/src/db/seeders/recette/202107261429-add-rome-codes.js
  api/src/db/seeders/staging/202107261429-add-rome-codes.js
  api/src/db/seeders/test/202107261429-add-rome-codes.js
Due: publish api image, deploy api staging

Fix add absolute path to targe only the deploy package.json
  .gitlab-ci.yml
Due: none

Resolve "Fix deploy ssl files"
  .gitlab-ci.yml
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

bamenities for lyon, paris and marseille
  README.md
  api/package.json
  api/src/models/TableAmenities.js
  api/src/scripts/syncAmenities.js
  api/src/scripts/syncSpecialAmenities.js
Due: publish api image, deploy api staging

rename ogr-list to rome-list
  front/src/routes/faq/faq.js
  front/src/routes/rome-list/RomeList.js
  front/src/routes/routes.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

update social housing data when using sync Regions
  README.md
  api/src/assets/datas/regions-social-housing.json
  api/src/models/TableRegions.js
  api/src/scripts/syncRegions.js
  api/src/utils/api.js
Due: publish api image, deploy api staging

remove react rewired, use CRA
  front-admin/config-overrides.js
  front/config-overrides.js
Due: package 1/2, package 2/2, deploy front staging

Fix conflict nginx conf in dev mode deploy
  docker-compose.dev.yml
  docker-compose.production.yml
  docker-compose.recette.yml
  docker-compose.yml
Due: deploy conf staging

allow ignoring city size search step
  api/src/routes/RouteCities.js
  front/src/routes/search/step4.js
  front/src/routes/search/step5.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

improve rome search autocomplete using full text index.
  api/src/db/migrations/20210729162852-add-full-text-index.js
  api/src/models/TableCities.js
  api/src/models/TableRomeogrs.js
  api/src/models/definitions/romeogrs.js
  api/src/routes/RouteCities.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

add tension information to the jobs panel
  api/src/routes/RouteProfessions.js
  api/src/utils/pe-api.js
  front/public/icons/trending-up.svg
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

prevent crash when no description for job
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

only show ogrs for rome codes in tension
  api/src/models/TableRomeogrs.js
  api/src/routes/RouteOgrs.js
Due: publish api image, deploy api staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
