Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

Création de simulateur.feature
  tests/cypress/e2e/accueil/footer/footer.js
  tests/cypress/e2e/accueil/homepage/homepage.js
  tests/cypress/e2e/accueil/rechercher.feature
  tests/cypress/e2e/accueil/rechercher/rechercher.js
  tests/cypress/e2e/accueil/simulateur.feature
  tests/cypress/e2e/accueil/simulateur/simulateur.js
  tests/cypress/support/step_definitions/aides-correspondantes.js
  tests/cypress/support/step_definitions/formulaire-recherche.js
  tests/cypress/support/step_definitions/helpers.js
  tests/cypress/support/step_definitions/ville.js
  tests/cypress/support/step_definitions/villes-correspondantes.js
Due: none

TE_MAV-326 : Fix affichage 0 offres d'emploi si pas de résultats
  api/src/routes/professions.js
Due: publish api image, deploy api staging

commit 2
  front/src/components/CityForm.js
  front/src/components/inputs/ActionButton.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

commit 2
  front/src/components/MainLayout.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

commit 3
  front/src/components/HeaderDesktop.js
  front/src/components/MenuNavigation.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

last commit
  front/src/components/CityForm.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

commit 4
  front/src/components/HeaderDesktop.js
  front/src/components/MenuNavigation.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-157 : reactive filters update
  front/src/components/CityForm.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-335 : retours grahiques - page ville
  front/src/components/KeyFigures.js
  front/src/components/index.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-334 : retours graphiques - prix logement
  front/src/components/inputs/TextInput.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHousingSimulator.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

fix : cypress tests
  tests/cypress/e2e/accueil/simulateur/simulateur.js
  tests/cypress/support/step_definitions/formulaire-recherche.js
Due: none

fix : cypress
  tests/cypress/e2e/accueil/simulateur/simulateur.js
  tests/cypress/support/step_definitions/formulaire-recherche.js
Due: none

Correction de simulateur.feature
  tests/cypress/e2e/accueil/simulateur/simulateur.js
Due: none

Correction 2 de simulateur.feature
  tests/cypress/e2e/accueil/simulateur/simulateur.js
Due: none

TE_MAV-258 : Mise en place d'un composant commun à la page ville pour les boutons de retours desktop et mobile
  front/src/routes/city/BackResultsButton.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CitySubHeader.js
  front/src/routes/city/cityServices/CityServices.js
Due: package 1/2, package 2/2, deploy front staging

Te_MAV-258 : Fix Lint
  front/src/routes/city/CityHeader.js
  front/src/routes/city/cityServices/CityServices.js
Due: package 1/2, package 2/2, deploy front staging

Update prod conf for CSP content
  nginx/conf.d/production.conf
Due: deploy conf staging

Update CSP content
  nginx/conf.d/recette.conf
Due: deploy conf staging

Update security config for nginx server
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix floodzone autocomplete
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

ajout flood zone dédiée pour l'autocompletion
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

MaJ dépendances Mobiville
  api/package.json
  api/src/routes/cities.js
  front/package.json
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-258 : moved BackResultsButton
  front/src/routes/city/CityHeader.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/BackResultsButton.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-287 : Mise en place de l'affichage mobile de la partie emploi et logement de la nouvelle page ville
  front/src/components/KeyFigures.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHousingSimulator.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-287 : clean code
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityHousingSimulator.js
  front/src/routes/city/CitySubHeader.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-287 : remove unused images
  front/src/assets/images/icons/balance.svg
  front/src/assets/images/icons/bread.svg
  front/src/assets/images/icons/briefcase.svg
  front/src/assets/images/icons/doctors.svg
  front/src/assets/images/icons/euro.svg
  front/src/assets/images/icons/green_ellipse.svg
  front/src/assets/images/icons/medal_bronze.svg
  front/src/assets/images/icons/medal_gold.svg
  front/src/assets/images/icons/medal_silver.svg
  front/src/assets/images/icons/red_ellipse.svg
  front/src/assets/images/icons/restaurants.svg
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-259 : Encart services de la ville
  front/src/assets/images/cityServicesStandOut.png
  front/src/components/Tag.js
  front/src/components/index.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHousingSimulator.js
  tests/cypress/e2e/accueil/simulateur/simulateur.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-395 : Suppression de l'aide Mon job Mon logement
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

TE_MAV-259 : fix url link
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-339 : Fix retours page ville
  front/src/components/KeyFigures.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-339 : Fix lint
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

commit menu
  front/src/components/MenuNavigation.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

fix erreur eslint
  front/src/components/MenuNavigation.js
Due: package 1/2, package 2/2, deploy front staging

refacto fil d'ariane page ville
  front/src/components/MenuNavigation.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-339 : Fix E2E
  tests/cypress/e2e/accueil/simulateur/simulateur.js
Due: none

TE_MAV-339 : Fix E2E
  front/src/routes/city/components/HousingSimulator.js
  tests/cypress/e2e/accueil/simulateur/simulateur.js
Due: package 1/2, package 2/2, deploy front staging

Update nginx improve configuration syntax and add CSP content
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Update hsts config
  nginx/conf.d/production.conf
Due: deploy conf staging
