Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

harmonisation des chemin des conf nginx entre environnement
  docker-compose.production.yml
  docker-compose.recette.yml
  nginx/conf.d/recette.conf
Due: deploy conf staging

resolution forcé dépendances vulnérable
  api/package.json
  front/package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix crash etape 2 de recherche
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

MaJ vers mariadb 10.8
  docker-compose.yml
Due: deploy conf staging

Maj lodash minor
  front/package.json
Due: package 1/2, package 2/2, deploy front staging

fix: migration old regions
  api/src/db/migrations/20211227120729-sanitize-cities-regions.js
  api/src/db/migrations/20220616152600-drop-old-regions-table.js
Due: publish api image, deploy api staging

refacto pe proxy
  api/config/default.js
  api/config/development.js
  api/src/models/TableCities.js
  api/src/utils/api.js
  api/src/utils/pe-api.js
Due: publish api image, deploy api staging

fix: autocomplétion des régions et villes
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

fix lint issues
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

fix: best regions to fit code ROM
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

fix : order cities list item
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

fix webpack sockjs port en dev pour react-script 5.0
  front/package.json
Due: package 1/2, package 2/2, deploy front staging

Mettre en place les aménagements techniques pour afficher au niveau de la liste le nombre d'offre d'emploi
  api/package.json
  api/src/crons/cron-cities.js
  api/src/crons/cron-citiesJobs.js
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/api/professions.api.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/CityItem.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Ajout de la notion d'opportunité dans la liste de résultats
  api/src/models/TableCities.js
  front/src/constants/colors.js
  front/src/routes/cities/CityItem.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

SEO - Recherche d'aides
  front/public/index.html
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

SEO - Détails aide
  front/src/routes/helps/HelpDetails.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-50 Retours graphiques page aide
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

fix(TE_MAV-66): Champs de recherche Rome masqué
  front/src/components/SearchComponents.js
  front/src/routes/search/Search.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

Home page testimonies + refacto
  front/package.json
  front/src/assets/images/02-Mobility-Homepage.png
  front/src/assets/images/cities-menu.svg
  front/src/assets/images/help-menu.svg
  front/src/assets/images/icons/financial-help.svg
  front/src/assets/images/icons/house-outline.svg
  front/src/assets/images/icons/map-pointer.svg
  front/src/assets/images/map-pointer.svg
  front/src/assets/images/mobility-guide.png
  front/src/assets/images/moving-illustration.png
  front/src/components/ActionButton.js
  front/src/components/AppCarousel.js
  front/src/components/HeaderDesktop.js
  front/src/components/MainLayout.js
  front/src/components/MenuMobile.js
  front/src/components/Section.js
  front/src/components/index.js
  front/src/constants/colors.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/Advantages.js
  front/src/routes/home/components/MobilityGuide.js
  front/src/routes/home/components/Testimonies.js
Due: package 1/2, package 2/2, deploy front staging

Home page : Nouvelle section d'acceuil avec champs de recherches
  front/src/components/ActionButton.js
  front/src/components/Footer.js
  front/src/components/MainLayout.js
  front/src/components/Section.js
  front/src/components/index.js
  front/src/components/inputs/ActionButton.js
  front/src/components/inputs/ButtonGroup.js
  front/src/components/inputs/Select.js
  front/src/components/inputs/TextSearchInput.js
  front/src/constants/colors.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/CityItem.js
  front/src/routes/city/City.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/CitySelect.js
  front/src/routes/home/components/JobSelect.js
  front/src/routes/home/components/MobilityGuide.js
  front/src/routes/home/components/Testimonies.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

Home page : Mise à jour des témoignages
  front/src/components/AppCarousel.js
  front/src/components/index.js
  front/src/components/inputs/ButtonGroup.js
  front/src/components/inputs/Select.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/Advantages.js
  front/src/routes/home/components/CitySelect.js
  front/src/routes/home/components/MobilityGuide.js
  front/src/routes/home/components/Testimonies.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-76 page filtres aide mobile
  front/src/assets/images/icons/filter-mobille.svg
  front/src/assets/images/icons/reset.svg
  front/src/assets/styles/main.scss
  front/src/routes/Routes.js
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/HelpDetailsPage.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/HelpsFilterMobilePage.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/HelpFilters.js
  front/src/routes/helps/components/UseScrollingUp.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-67 : Mise à jour du comportement du carrousel (swipe et interval du défilement auto)
  front/src/components/AppCarousel.js
  front/src/routes/home/components/Testimonies.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-68 : Mise à jour des inputs de la home page + header
  front/src/components/HeaderDesktop.js
  front/src/components/inputs/Select.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/home/components/CitySelect.js
  front/src/routes/home/components/JobSelect.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

chore : refacto help inputs
  front/src/components/index.js
  front/src/components/inputs/AgeSituationSelect.js
  front/src/components/inputs/JobSituationSelect.js
  front/src/components/inputs/ProjectsSelect.js
  front/src/constants/search.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

Implémentation des nouveaux inputs d'aide mobile et desktop
  front/src/assets/styles/main.scss
  front/src/components/index.js
  front/src/components/inputs/AgeSituationSelect.js
  front/src/components/inputs/Button.js
  front/src/components/inputs/JobSituationSelect.js
  front/src/components/inputs/ProjectsSelect.js
  front/src/components/inputs/Select.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/HelpsFilterMobilePage.js
  front/src/routes/helps/components/HelpFilters.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

fix warnings avec des props transients
  front/src/components/inputs/ProjectsSelect.js
  front/src/components/inputs/Select.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/HelpFilters.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

Mise à jour des City Items
  front/src/assets/images/icons/right_chevron.svg
  front/src/components/getLeafletIcon.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/CityItem.js
  front/src/routes/cities/components/CityItem.js
Due: package 1/2, package 2/2, deploy front staging

API cities : tension priorisée sur la recherche
  api/src/models/TableCities.js
  api/src/routes/cities.js
Due: publish api image, deploy api staging

CityItem mobile et info panel
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CityItem.js
Due: package 1/2, package 2/2, deploy front staging

Définition de constantes pour la recherche de ville
  front/src/constants/search.js
  front/src/routes/home/components/CitySelect.js
  front/src/routes/home/components/Welcome.js
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

City item hover/focus styles
  front/src/routes/cities/components/CityItem.js
Due: package 1/2, package 2/2, deploy front staging

export des composants dans un dossier dédié
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CitiesFilters.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsSelection.js
Due: package 1/2, package 2/2, deploy front staging

Suppresion de l'option du toggle all cities
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

fix search infinite refresh
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

Modification niveaux des limites de flood nginx
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

mode executable sur index.js
  api/src/index.koa.js
  front/src/index.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix proxy pe
  tests/cypress/integration/accueil/title.feature
  tests/package.json
Due: none

validation rgpd + refacto arborescence des fichiers
  tests/cypress.config.js
  tests/cypress/e2e/accueil/title.feature
  tests/cypress/e2e/accueil/title/title.js
  tests/cypress/integration/SearchEngine_spec.js
  tests/cypress/integration/accueil/title.feature
  tests/cypress/integration/accueil/title/title.js
  tests/cypress/integration/common/helpers.js
  tests/cypress/support/index.js
  tests/cypress/support/step_definitions/helpers.js
  tests/package.json
Due: none
