Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

fix help links from mobility page
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

add google search console id
  front/public/index.html
Due: package 1/2, package 2/2, deploy front staging

migration: add slugs data to helps
  api/src/db/migrations/20210916153535-add-helps-slug.js
  api/src/models/definitions/helps.js
Due: publish api image, deploy api staging

use slugs instead of id + title for helps urls
  api/src/routes/RouteHelps.js
  front/src/api/helps.api.js
  front/src/common/contexts/helpsContext.js
  front/src/routes/help-details/help-details.js
  front/src/routes/helps/helps.js
  front/src/routes/routes.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix tension ratio not sent if no salary
  api/src/routes/RouteProfessions.js
Due: publish api image, deploy api staging

do not allow eslint warnings in code
  api/.eslintrc.js
  api/src/db/migrations/20210609170803-delete-duplicate-cities.js
  api/src/db/migrations/20210712043620-delete-1000-euros-help.js
  api/src/db/migrations/20210729162852-add-full-text-index.js
  api/src/routes/RouteIndex.js
  package.json
Due: publish api image, deploy api staging

Implement a front-end search into job results
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

use h1, small css cleanup for help-details
  front/src/routes/help-details/help-details.js
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

update stats page for september
  front/public/stats.pdf
Due: package 1/2, package 2/2, deploy front staging

h1 for page city-details
  front/src/routes/city/city-header.js
Due: package 1/2, package 2/2, deploy front staging

add code for google analytics & optimize
  front/public/index.html
Due: package 1/2, package 2/2, deploy front staging

autocomplete search fix
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

api professions: small refactoring to parallelize requests
  api/src/routes/RouteProfessions.js
Due: publish api image, deploy api staging

add remarkable gardens
  api/src/constants/lifeCriterions.js
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix csv parsing utils file
  api/src/utils/csv.js
Due: publish api image, deploy api staging

add remarkable gardens icons, quick panel-city-life refactoring
  api/src/constants/lifeCriterions.js
  front/public/icons/jardins-remarquables.svg
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

rename amenities to equipments
  README.md
  api/package.json
  api/src/db/migrations/20210921150134-rename-amenities-to-equipment.js
  api/src/models/TableCities.js
  api/src/models/TableEquipments.js
  api/src/models/definitions/amenities.js
  api/src/models/definitions/equipments.js
  api/src/routes/RouteCities.js
  api/src/scripts/syncEquipments.js
  api/src/scripts/syncSpecialEquipments.js
  api/src/utils/api.js
  api/src/utils/csv.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Fix long time secret detection job
  .gitlab-ci.yml
Due: none

use bassin info for job tension
  api/src/routes/RouteProfessions.js
  api/src/utils/pe-api.js
Due: publish api image, deploy api staging

add script used to build a lighter equipments file
  api/src/scripts/equipments-file-builder.js
Due: publish api image, deploy api staging

minor wording tweak
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

remove reg column from equipments in migration
  api/src/db/migrations/20210921150134-rename-amenities-to-equipment.js
Due: publish api image, deploy api staging

update stats pdf
  front/public/stats.pdf
Due: package 1/2, package 2/2, deploy front staging

small accessibility tweaks
  front/src/components/main-layout.js
  front/src/components/menu-desktop.js
  front/src/components/menu-mobile.js
  front/src/components/top-mobile-menu.js
  front/src/routes/city/city-header.js
  front/src/routes/home/home.js
Due: package 1/2, package 2/2, deploy front staging
