Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

front: add the ability to search through cities not in tension
  front/src/common/contexts/citiesContext.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/MobileCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

front: safari fix for autocomplete inputs / zoomed layouts
  front/src/assets/styles/main.scss
Due: package 1/2, package 2/2, deploy front staging

api: fix autocomplete route params error
  api/src/routes/cities.js
Due: publish api image, deploy api staging

api/db: separate regions table in two tables, to improve searches
  README.md
  api/src/db/migrations/202103010551-add-average-social-housing.js
  api/src/db/migrations/20211227120729-sanitize-cities-regions.js
  api/src/db/seeders/development/202103010853-add-average-social-housing.js
  api/src/db/seeders/production/202103010853-add-average-social-housing.js
  api/src/db/seeders/recette/202103010853-add-average-social-housing.js
  api/src/db/seeders/staging/202103010853-add-average-social-housing.js
  api/src/models/TableCities.js
  api/src/models/TableNewRegions.js
  api/src/models/TableOldRegions.js
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/TableSocialhousings.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/newRegions.js
  api/src/models/definitions/oldRegions.js
  api/src/scripts/syncRegions.js
Due: publish api image, deploy api staging

db: add indexes on all fields with which we sort cities searches
  api/src/db/migrations/20211227173545-cities-indexes.js
  api/src/models/definitions/cities.js
Due: publish api image, deploy api staging

api: improve performance of cities search by sorting on the db side
  api/src/models/TableCities.js
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/routes/cities.js
Due: publish api image, deploy api staging

fix: autocompletes routes
  api/src/routes/cities.js
Due: publish api image, deploy api staging

api: improve cities sync, and fix cities association to new regions
  api/src/models/TableCities.js
  api/src/models/definitions/cities.js
Due: publish api image, deploy api staging

front: fix: rome-list
  front/src/routes/rome-list/RomeList.js
Due: package 1/2, package 2/2, deploy front staging

front: Rebuild City (and City* child pages) pages with new designs
  front/src/assets/images/icons/balance.svg
  front/src/assets/images/icons/bread.svg
  front/src/assets/images/icons/briefcase.svg
  front/src/assets/images/icons/building.svg
  front/src/assets/images/icons/compass.svg
  front/src/assets/images/icons/crowd.svg
  front/src/assets/images/icons/doctors.svg
  front/src/assets/images/icons/euro.svg
  front/src/assets/images/icons/green_ellipse.svg
  front/src/assets/images/icons/hourglass.svg
  front/src/assets/images/icons/house.svg
  front/src/assets/images/icons/houses.svg
  front/src/assets/images/icons/medal_bronze.svg
  front/src/assets/images/icons/medal_gold.svg
  front/src/assets/images/icons/medal_silver.svg
  front/src/assets/images/icons/red_ellipse.svg
  front/src/assets/images/icons/restaurants.svg
  front/src/assets/images/icons/weather.svg
  front/src/routes/Routes.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityHousing.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/CityLife.js
  front/src/routes/city/PanelCityHousing.js
Due: package 1/2, package 2/2, deploy front staging

front: rework SubHeader so the link in only on the arrow and it can accomodate a react node
  front/src/components/SubHeader.js
Due: package 1/2, package 2/2, deploy front staging

front: use standardized subheader for city page
  front/src/components/SubHeader.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityJobs.js
Due: package 1/2, package 2/2, deploy front staging

front, api: search close / similar cities
  api/src/models/TableCities.js
  api/src/routes/cities.js
  front/src/api/cities.api.js
  front/src/assets/images/icons/medal_bronze.svg
  front/src/assets/images/icons/medal_gold.svg
  front/src/assets/images/icons/medal_silver.svg
  front/src/common/contexts/citiesContext.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

front: add electedofficials block to CityLife
  front/src/routes/city/CityLife.js
Due: package 1/2, package 2/2, deploy front staging

front: minor tweaks
  front/src/components/SubHeader.js
  front/src/routes/city/CityJobs.js
Due: package 1/2, package 2/2, deploy front staging

front: Improve City Header layout for mobile
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
Due: package 1/2, package 2/2, deploy front staging

front: add loader to city page
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

front: fix links to other cities
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

api: add sentry supervision
  .env.exemple
  api/package.json
  api/src/index.koa.js
  api/yarn.lock
  docker-compose.yml
Due: publish api image, deploy api staging, deploy conf staging

Add sentry var
  .gitlab-ci.yml
Due: none
