Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, api_image, deploy_front_staging, deploy_api_staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  api_image: any of: api/**/*
  deploy_front_staging: any of: front/**/*
  deploy_api_staging: any of: api/**/*

Feature/560 performance du moteur de recherche
  api/src/routes/RouteCities.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/city-item.js
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, api_image, deploy_front_staging, deploy_api_staging

Add the front-end ability to search for a job type
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy_front_staging

fix regions tensions: avoid loading bad data in cache, having non updated data
  api/src/models/TableRegionsTensions.js
Due: api_image, deploy_api_staging

kill cache
  nginx/production.conf
Due: none

change tag to exit
  front/src/routes/city/panel-city-jobs.js
  front/src/routes/help-details/help-details.js
Due: package 1/2, package 2/2, deploy_front_staging

fix "Rendered more hooks than during the previous render." error
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy_front_staging

add sort by match
  api/src/routes/RouteCities.js
Due: api_image, deploy_api_staging

add console scripts for sync of regions, cities, professions in tension
  api/package.json
  api/src/App.js
  api/src/scripts/syncCities.js
  api/src/scripts/syncProfessionsInTension.js
  api/src/scripts/syncRegions.js
Due: api_image, deploy_api_staging

tweak search page to avoid suggesting countryside when user wants city
  front/src/routes/search/step5.js
Due: package 1/2, package 2/2, deploy_front_staging

Add link to stats page in footer
  front/src/components/footer.js
Due: package 1/2, package 2/2, deploy_front_staging

Update CI/CD
  .gitlab-ci.yml
  docker-compose.recette.yml
Due: none

Optimize test step cicd
  .gitlab-ci.yml
Due: none

sync code rome fap and pcs
  api/src/assets/datas/table-correspondance-pcs-rome.csv
  api/src/db/migrations/202105271613-add-pcs-code.js
  api/src/models/TableTensions.js
  api/src/models/definitions/tensions.js
  api/src/routes/RouteProfessions.js
  api/src/routes/RouteSync.js
  api/src/utils/api.js
Due: api_image, deploy_api_staging

change default language from english to french
  front/public/index.html
Due: package 1/2, package 2/2, deploy_front_staging

control city format
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy_front_staging

remove admin route
  api/src/routes/RouteAdmin.js
Due: api_image, deploy_api_staging

Fix add absolute path to targe only the deploy package.json
  .gitlab-ci.yml
Due: none

fix style for buttons in list of jobs
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy_front_staging

Fix for ip recette / prod gitlab-cicd
  .gitlab-ci.yml
Due: none

Add production delivery description in README
  README.md
Due: none

temp fix - remove duplicated cities from qa (before adding unique key)
  api/src/db/migrations/20210609170803-delete-duplicate-cities.js
Due: api_image, deploy_api_staging

disable cache
  nginx/production.conf
  nginx/recette.conf
Due: none

Better "no city found" page
  front/src/assets/images/information.svg
  front/src/assets/images/no_results.svg
  front/src/routes/cities/cities-filter-list.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy_front_staging

Feature/573 moteur de recherche laffichage des résultats pour les villes à critères égales
  api/src/routes/RouteCities.js
  front/src/routes/cities/cities-filter-list.js
  front/src/routes/cities/city-item.js
  front/src/routes/cities/desktop-criterions-panel.js
  package.json
Due: package 1/2, package 2/2, api_image, deploy_front_staging, deploy_api_staging

add pdf with stats, accessible via /stats
  front/public/stats.pdf
  nginx/dev.conf
Due: package 1/2, package 2/2, deploy_front_staging
