Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

TE_MAV-494 : Plus grandes villes de la région sans arrondissement
  api/src/routes/regions.js
Due: publish api image, deploy api staging

Te mav 536
  api/package.json
  front/package.json
  front/src/routes/city/cityHome/CityHome.js
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

useTransition/SuspenseRouter
  front/package.json
  front/src/App.js
  front/src/routes/Routes.js
  front/src/utils/SuspenseRouter.js
Due: package 1/2, package 2/2, deploy front staging

fix csp hotjar && test e2e
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix autocomplete region
  front/src/components/inputs/CitySelect.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

lazyloading de sous-composant
  front/package.json
  front/public/index.html
  front/src/components/MainLayout.js
  front/src/components/Map.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CitiesList.js
Due: package 1/2, package 2/2, deploy front staging

fix csp + retour de l'us
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityJobs/components/JobCard.js
  nginx/conf.d/recette.conf
Due: package 1/2, package 2/2, deploy front staging, deploy conf staging

ajout lazyloading
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

Modification des infos de la ville et des offres
  tests/cypress/e2e/accueil/filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/support/step_definitions/common/common.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

correction css page city
  front/src/components/KeyFigures.js
  front/src/routes/city/cityHome/CityHome.js
Due: package 1/2, package 2/2, deploy front staging

fix zoom carte sur la recherche
  README.md
  front/src/components/Map.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-543 : performance recherche
  api/src/models/TableCities.js
  api/src/routes/departements.js
  front/src/routes/departement/Departement.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-543 : clean database
  README.md
  api/src/crons/cron-citiesJobs.js
  api/src/crons/index.js
  api/src/db/migrations/20230116140000-clean-db.js
  api/src/models/TableCities.js
  api/src/models/TableCitiesJobs.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/citiesJobs.js
  api/src/utils/api.js
Due: publish api image, deploy api staging

Merge branch 'csp-hotjar' into 'develop'
  nginx/conf.d/production.conf
Due: deploy conf staging

Merge branch 'fix-autcomplete' into 'develop'
  api/src/models/TableCities.js
  front/src/components/inputs/CitySelect.js
  front/src/routes/home/components/Advantages.js
  front/src/routes/home/components/HomeRegionsBanner.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Merge branch 'TE_MAV-416' into 'develop'
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityJobs/CityJobs.js
Due: package 1/2, package 2/2, deploy front staging

Merge branch 'TE_MAV-476' into 'develop'
  .env.exemple
  api/src/utils/pe-api.js
  front/src/routes/cities/components/CitiesSearchBar.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-518 : suppression des arrondissement sur les villes proches et similaires
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

Merge branch 'TE_MAV-536' into 'develop'
  api/package.json
  front/package.json
  front/src/routes/city/cityHome/CityHome.js
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Merge branch 'transition' into 'develop'
  front/package.json
  front/src/App.js
  front/src/routes/Routes.js
  front/src/utils/SuspenseRouter.js
Due: package 1/2, package 2/2, deploy front staging

Merge branch 'fix-csp-recette' into 'develop'
  nginx/conf.d/recette.conf
Due: deploy conf staging

Merge branch 'autocomplete-regions' into 'develop'
  front/src/components/inputs/CitySelect.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

Merge branch 'leaflet-dynamique' into 'develop'
  front/package.json
  front/public/index.html
  front/src/components/MainLayout.js
  front/src/components/Map.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CitiesList.js
Due: package 1/2, package 2/2, deploy front staging

Merge branch 'fix-TE_MAV-536' into 'develop'
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityJobs/components/JobCard.js
  nginx/conf.d/recette.conf
Due: package 1/2, package 2/2, deploy front staging, deploy conf staging

Merge branch 'lazyloading' into 'develop'
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

Merge branch 'TE_MAV-279' into 'develop'
  tests/cypress/e2e/accueil/filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/support/step_definitions/common/common.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

Merge branch 'fix-TE_MAV-536' into 'develop'
  front/src/components/KeyFigures.js
  front/src/routes/city/cityHome/CityHome.js
Due: package 1/2, package 2/2, deploy front staging

fix
  front/src/routes/cities/Cities.js
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-632 : fix city hiring rate
  api/src/routes/professions.js
Due: publish api image, deploy api staging

TE_MAV-535 : postal code
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

Création informations-régions.feature et autres
  tests/cucumber-messages.ndjson
  tests/cypress/e2e/accueil/fil-d-ariane.feature
  tests/cypress/e2e/accueil/footer.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/informations-aide.feature
  tests/cypress/e2e/accueil/informations-region.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/offres-d-emploi.feature
  tests/cypress/e2e/accueil/recherche-hors-home-page.feature
  tests/cypress/e2e/accueil/resultats-ville.feature
  tests/cypress/e2e/accueil/simulateur.feature
  tests/cypress/e2e/accueil/villes-similaires-proximite.feature
  tests/cypress/support/step_definitions/aide.js
  tests/cypress/support/step_definitions/departement.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/home-page.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/region.js
  tests/cypress/support/step_definitions/resultats-aide.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

TE_MAV-538 : to top page button
  front/src/components/MainLayout.js
  front/src/components/TopPageButton.js
  front/src/components/index.js
  front/src/routes/city/City.js
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

hotfix ratelimit a 1000 appel max
  api/src/index.koa.js
Due: publish api image, deploy api staging

hotfix: aides-recherche
  front/src/routes/home/components/WelcomeSearchForm.js
Due: package 1/2, package 2/2, deploy front staging

drop table romecodes
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

TE_MAV-496 : page ville SEO
  api/src/index.koa.js
  api/src/routes/cities.js
  api/src/routes/events.js
  api/src/routes/professions.js
  api/src/utils/api.js
  api/src/utils/pe-api.js
  api/src/utils/smart-emploi-api.js
  api/src/utils/utils.js
  front/src/api/professions.api.js
  front/src/assets/images/events-city.png
  front/src/assets/images/icons/computer.svg
  front/src/components/HelpsStandOut.js
  front/src/components/HorizontalScrollableSection.js
  front/src/components/MenuNavigation.js
  front/src/components/buttons/BackButton.js
  front/src/constants/colors.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/Events.js
  front/src/routes/city/components/CityMenuBack.js
  front/src/routes/city/components/SectionHeader.js
  front/src/routes/home/components/WelcomeSearchForm.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-436 : optimisation des images
  api/src/routes/cities.js
  api/src/utils/pe-api.js
  front/src/assets/images/LogoMobiville_gros.svg
  front/src/assets/images/cityServicesStandOut.avif
  front/src/assets/images/cityServicesStandOut.webp
  front/src/assets/images/events-city.avif
  front/src/assets/images/events-city.webp
  front/src/assets/images/hero-homepage.avif
  front/src/assets/images/hero-homepage.webp
  front/src/assets/images/logo-logement-social.avif
  front/src/assets/images/logo-logement-social.webp
  front/src/assets/images/logo-mobiville.png
  front/src/assets/images/marianne-logo.avif
  front/src/assets/images/marianne-logo.png
  front/src/assets/images/marianne-logo.webp
  front/src/assets/images/mobility-guide.avif
  front/src/assets/images/mobility-guide.webp
  front/src/assets/images/moving-illustration.avif
  front/src/assets/images/moving-illustration.webp
  front/src/assets/images/no-results.png
  front/src/assets/images/no_results.svg
  front/src/assets/images/technical-error.png
  front/src/assets/images/technical-error.svg
  front/src/components/Footer.js
  front/src/components/HeaderDesktop.js
  front/src/components/HeaderMobile.js
  front/src/components/Image.js
  front/src/components/SearchComponents.js
  front/src/components/index.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
  front/src/routes/error/ErrorPage.js
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/home/components/MobilityGuideBanner.js
  front/src/routes/home/components/Testimonies.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging
