Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

regex generatrice potentiel de dos
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

US_9a : Mise en place des boutons de validation dans la recherche
  front/src/components/SearchComponents.js
  front/src/constants/colors.js
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

US_9a : Suppression console.log !
  front/src/routes/search/SearchCity.js
Due: package 1/2, package 2/2, deploy front staging

US_9a : Fix ESLint
  front/src/components/SearchComponents.js
Due: package 1/2, package 2/2, deploy front staging

Fix: ajout d'un pull image API pour maj conf
  .gitlab-ci.yml
Due: none

MAV-11 : Modification comportement bouton de déclenchement de recherche sur mobile
  front/src/components/SearchComponents.js
  front/src/routes/search/Search.js
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

Add renew SSL doc
  README.md
Due: none

Add nginx security settings
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

precision sur la version mariadb utilisé et rm code mort
  api/src/utils/utils.js
  docker-compose.yml
Due: publish api image, deploy api staging, deploy conf staging

MAV-11 : Fix scroll top après sélection et rollover boutons
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

MAV-11 : Fix lint
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

MAV-11 : Fix rollover boutons
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

US's aides
  front/src/assets/images/icons/accompagnement.svg
  front/src/assets/images/icons/financier.svg
  front/src/assets/images/icons/help-accompagnement.svg
  front/src/assets/images/icons/help-financiere.svg
  front/src/assets/images/icons/help-logement.svg
  front/src/assets/images/icons/help-transport.svg
  front/src/assets/images/icons/logement.svg
  front/src/assets/images/icons/transport.svg
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

Evol Logo Mobiville
  front/src/assets/images/LogoMobiville_notext.svg
  front/src/components/HeaderDesktop.js
  front/src/components/HeaderMobile.js
Due: package 1/2, package 2/2, deploy front staging

Correctif Lint img
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

Correction 2 colonnes en mode mobiles pour les aides
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

Page aides : modifications style critères de sélection
  front/src/assets/styles/main.scss
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-15 Modifier le titre de la page cadre de vie
  front/src/routes/city/CityLife.js
Due: package 1/2, package 2/2, deploy front staging

Correctifs header filtre aide
  front/src/assets/styles/main.scss
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

rm js lock file
  .gitignore
  api/.gitignore
  api/package-lock.json
  api/yarn.lock
  front/.gitignore
  front/yarn.lock
  package-lock.json
  yarn.lock
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

chore sonar: fix css fallback font-family
  front/src/assets/styles/main.scss
Due: package 1/2, package 2/2, deploy front staging

Correctifs / evols page aide
  front/src/assets/styles/main.scss
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/UseScrollingUp.js
Due: package 1/2, package 2/2, deploy front staging

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

Correctifs / evols page aide
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

Revert "rm js lock file"
  .gitignore
  api/.gitignore
  api/package-lock.json
  api/yarn.lock
  front/.gitignore
  front/yarn.lock
  package-lock.json
  yarn.lock
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Correction crawler image wikipedia
  api/src/utils/api.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix deplacement du logo/zoom in des aides en mobile
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

MaJ readme
  README.md
Due: none

TE_MAV-50 Retours graphiques page aide
  front/src/assets/styles/main.scss
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

fix merge develop
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

Ajout 405 métiers
  api/src/assets/datas/cities-tension-utf8.csv
  api/src/models/TableTensions.js
  api/src/utils/api.js
Due: publish api image, deploy api staging

refacto filtre page aide && rm duplicat special mobile
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
Due: package 1/2, package 2/2, deploy front staging

refacto CheckmarksSelectSituation
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-50 Retours graphiques page aide
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-50 Retours graphiques page aide
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

MaJ nodeJs 16 et dependances js + rm node-sass
  dockerfile_front
  front/package.json
  front/src/index.js
  front/src/routes/cities/DesktopCriterionsPanel.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHousing.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/CityLife.js
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/UseScrollingUp.js
  front/src/routes/home/Home.js
  front/src/routes/mobility-guide/MobilityGuide.js
  front/src/routes/search/SearchCity.js
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

fix warning sur la props ismobile
  front/src/components/ActionButton.js
Due: package 1/2, package 2/2, deploy front staging

MaJ devDependencies et dependances api
  .gitignore
  .gitlab-ci.yml
  api/package-lock.json
  api/package.json
  api/src/utils/api.js
  api/src/utils/csv.js
  api/yarn.lock
  dockerfile_api
  front/package.json
  front/yarn.lock
  package-lock.json
  package.json
  yarn.lock
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Ajout logo menu safari
  front/public/index.html
  front/public/logo192.png
  front/public/manifest.json
Due: package 1/2, package 2/2, deploy front staging

MaJ nginx 1.23
  docker-compose.yml
Due: deploy conf staging
