Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

Fix: get latest version for configuraiton deployment
  .gitlab-ci.yml
Due: none

front: use sentry for reporting
  front/package.json
  front/src/index.js
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

fix: typo SENTRY_DSN env var
  .gitlab-ci.yml
Due: none

api: set env for sentry
  api/src/index.koa.js
Due: publish api image, deploy api staging

front: fix housing simulator
  front/src/routes/city/CityHousing.js
Due: package 1/2, package 2/2, deploy front staging

WIP
  docker-compose.yml
Due: deploy conf staging

add(ci): ressource limitation for backup
  docker-compose.production.yml
  docker-compose.recette.yml
Due: deploy conf staging

add(ci): create and copy script dockerfile for backing up
  .gitlab-ci.yml
Due: none

add(ci): add brackups files
  backups/BACKUP.sh
  backups/Dockerfile
Due: none

fix(ci): backup folder
  .gitlab-ci.yml
Due: none

fix install process
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

add(ci): restrict intallation process to install step
  .gitlab-ci.yml
Due: none

fix: docker-compose backup build
  docker-compose.production.yml
  docker-compose.recette.yml
Due: deploy conf staging

Add env for backup
  backups/Dockerfile
  docker-compose.production.yml
  docker-compose.recette.yml
Due: deploy conf staging

Upt(backup): fix and add settings for backup
  .gitlab-ci.yml
  backups/BACKUP.sh
  docker-compose.production.yml
  docker-compose.recette.yml
  docker-compose.yml
Due: deploy conf staging

add(doc): howto install from scratch
  README.md
Due: none

front: fix redundant code
  front/src/routes/cities/CityItem.js
Due: package 1/2, package 2/2, deploy front staging
