Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

front: remove console.log instruction
  front/.eslintrc.js
  front/src/common/contexts/citiesContext.js
Due: package 1/2, package 2/2, deploy front staging

front: initialize autocomplete on each SearchRome screen loading
  front/src/common/contexts/citiesContext.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

front: fix job search results not correctly updated after changing city
  front/src/common/contexts/citiesContext.js
  front/src/routes/city/City.js
  front/src/routes/city/PanelCityJobs.js
Due: package 1/2, package 2/2, deploy front staging

front: add alt to img in header for accessibility
  front/src/components/HeaderDesktop.js
Due: package 1/2, package 2/2, deploy front staging

front: disable eslint for webpack (still activated for commits)
  front/package.json
Due: package 1/2, package 2/2, deploy front staging

front: change images width for cities list on desktop
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy front staging

front: rename City files to match their components
  front/src/routes/account/account.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/CitiesFilters.js
  front/src/routes/cities/CityItem.js
  front/src/routes/cities/DesktopCriterionsPanel.js
  front/src/routes/cities/MobileCriterionsPanel.js
  front/src/routes/cities/MobileCriterionsSelection.js
  front/src/routes/routes.js
Due: package 1/2, package 2/2, deploy front staging

front: rename Faq, Legal, Routes component files
  front/src/App.js
  front/src/routes/Routes.js
  front/src/routes/faq/Faq.js
  front/src/routes/legal/Legal.js
Due: package 1/2, package 2/2, deploy front staging

front: rename components in the component directory to match their component names
  front/src/components/Footer.js
  front/src/components/MainLayout.js
  front/src/components/espace.js
  front/src/routes/accessibility/Accessibility.js
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/error/ErrorPage.js
  front/src/routes/faq/Faq.js
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/Helps.js
  front/src/routes/home/Home.js
  front/src/routes/legal/Legal.js
  front/src/routes/mobility-guide/MobilityGuide.js
  front/src/routes/rome-list/RomeList.js
  front/src/routes/search/Search.js
Due: package 1/2, package 2/2, deploy front staging

front: remove the last use of the deprecated button component
  front/src/components/button.js
  front/src/routes/cities/MobileCriterionsSelection.js
Due: package 1/2, package 2/2, deploy front staging

front: fix MobileCriterionSelecrtion button alignment issues
  front/src/routes/cities/MobileCriterionsSelection.js
Due: package 1/2, package 2/2, deploy front staging

front: cleanup old buttons styles behaviour
  front/src/assets/styles/button.scss
  front/src/assets/styles/main.scss
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

api: disable default app sql logging
  api/src/db/index.js
Due: publish api image, deploy api staging

api: finish koa-smart cleanup
  api/src/App.js
  api/src/index.js
  api/src/index.koa.js
  api/src/models/addUtilsFunctionInTable.js
  api/src/routes/Route.js
  api/src/routes/RouteCities.js
  api/src/routes/RouteHelps.js
  api/src/routes/RouteIndex.js
  api/src/routes/RouteOgrs.js
  api/src/routes/RouteProfessions.js
  api/src/routes/cities.js
  api/src/routes/helps.js
  api/src/routes/ogrs.js
  api/src/routes/professions.js
  api/src/utils/types.js
Due: publish api image, deploy api staging

api: rewrite the app to use koa instead of koa-smart
  api/package.json
  api/src/crons/cron-bassinsJobs.js
  api/src/crons/cron-cities.js
  api/src/crons/index.js
  api/src/index.koa.js
  api/src/koa-routes/cities.js
  api/src/koa-routes/helps.js
  api/src/koa-routes/ogrs.js
  api/src/koa-routes/professions.js
  api/yarn.lock
  front/src/api/cities.api.js
  front/src/api/helps.api.js
  front/src/api/professions.api.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

api: remove unused dependencies
  api/package.json
  api/yarn.lock
Due: publish api image, deploy api staging

api: cleanup superfluous custom Sequelize methods and only work with base
  api/src/models/TableBassins.js
  api/src/models/TableBassinsJobs.js
  api/src/models/TableCities.js
  api/src/models/TableEquipments.js
  api/src/models/TableHelps.js
  api/src/models/TableRegions.js
  api/src/models/TableTensions.js
  api/src/models/addUtilsFunctionInTable.js
  api/src/models/index.js
Due: publish api image, deploy api staging

front: correctly set primary and secondary color to MUI
  front/src/index.js
Due: package 1/2, package 2/2, deploy front staging

api: fix broken api db models
  api/src/models/index.js
Due: publish api image, deploy api staging

api: add the ability to search through cities not in tension
  api/src/models/TableCities.js
  api/src/routes/cities.js
Due: publish api image, deploy api staging
