Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:16.16.0
  script:
  - (which yarn || npm i -g yarn@1.22.15)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - PUB_BRANCH=${CI_COMMIT_BRANCH//\//_}
  - tar -czvf "${PACKAGE_NAME}-${PUB_BRANCH}.${VERSION}.tar.gz" dist
  - echo "${PACKAGE_NAME}-${PUB_BRANCH}.${VERSION}.tar.gz"
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - PUB_BRANCH=${CI_COMMIT_BRANCH//\//_}
  ...

deploy front staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$IP_SERVER "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  ...

commit url ReWrite
  front/src/components/CityForm.js
  front/src/components/Footer.js
  front/src/components/MenuNavigation.js
  front/src/routes/Routes.js
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/home/components/MobilityGuide.js
  front/src/utils/utils.js
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: package 1/2, package 2/2, deploy front staging, deploy conf staging

fix 2 Url
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/home/components/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

fix errors
  front/src/routes/Routes.js
Due: package 1/2, package 2/2, deploy front staging

fix merge
  front/src/routes/Routes.js
Due: package 1/2, package 2/2, deploy front staging

ajout csp tagco
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix url
  front/src/common/contexts/NomPageContext.js
  front/src/components/Footer.js
  front/src/components/MenuNavigation.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  tests/cypress/support/step_definitions/fil-d-ariane.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
Due: package 1/2, package 2/2, deploy front staging

Correction des URLs
  tests/cypress/e2e/accueil/footer.feature
  tests/cypress/support/step_definitions/fil-d-ariane.js
  tests/cypress/support/step_definitions/home-page.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

TE_MAV-319
  front/src/components/Accordion.js
  front/src/components/CityForm.js
  front/src/components/HeaderMobile.js
  front/src/components/Map.js
  front/src/components/Modale.js
  front/src/components/Tag.js
  front/src/components/buttons/ActionButton.js
  front/src/components/buttons/ResetButton.js
  front/src/components/index.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/components/inputs/RadioGroup.js
  front/src/components/inputs/RadioInput.js
  front/src/routes/accessibility/Accessibility.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CitiesFilters.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/cities/components/CitiesSearchBar.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsSelection.js
  front/src/routes/city/CitySearchPage.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/HelpsFilterMobilePage.js
  front/src/routes/helps/HelpsSearchPage.js
  front/src/routes/helps/components/MobileAppliedFilters.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/Welcome.js
  front/src/routes/home/components/WelcomeSearchForm.js
  front/src/routes/legal/Legal.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-243
  front/src/components/HelpsStandOut.js
  front/src/components/KeyFigures.js
  front/src/components/index.js
  front/src/routes/cities/components/CitiesSearchBar.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/helps/Helps.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/HomeHelpsBanner.js
Due: package 1/2, package 2/2, deploy front staging

fix: modale height iOS
  front/src/components/Modale.js
Due: package 1/2, package 2/2, deploy front staging

fix: dependencies and cities picture
  front/package.json
  front/public/images/cities.png
  front/src/assets/images/cities.svg
  front/src/routes/city/CitySearchPage.js
Due: package 1/2, package 2/2, deploy front staging

parcours regions Homepage
  front/src/components/CityForm.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/home/components/WelcomeSearchForm.js
Due: package 1/2, package 2/2, deploy front staging

reecriture chemin city
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix soucis de port et queryparams lors de 301
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

TE_MAV-297
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobCard.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-450
  front/package.json
  front/src/App.js
  front/src/common/contexts/NomPageContext.js
  front/src/common/contexts/index.js
  front/src/components/CityForm.js
  front/src/components/Footer.js
  front/src/components/HelpForm.js
  front/src/components/buttons/ActionButton.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/components/inputs/LittleSelect.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/Routes.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsSelection.js
  front/src/routes/city/City.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/HousingSimulator.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/MobilityGuideBanner.js
  front/src/routes/home/components/WelcomeSearchForm.js
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-315
  api/src/routes/cities.js
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/common/contexts/professionsContext.js
  front/src/components/KeyFigures.js
  front/src/routes/city/cityHome/CityHome.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-240
  tests/cypress/e2e/accueil/filtrerresultats.feature
  tests/cypress/e2e/accueil/informationsville/informationsville.js
  tests/cypress/e2e/accueil/villessimilairesproximite/villes-similaires-proximite.js
  tests/cypress/support/step_definitions/villes-correspondantes.js
Due: none

TE_MAV-158
  tests/cypress/e2e/accueil/fil-d-ariane.feature
  tests/cypress/e2e/accueil/filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/filtre-resultats-ville.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/homepage/homepage.js
  tests/cypress/e2e/accueil/informations-aide.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/informationsaide/informationsaide.js
  tests/cypress/e2e/accueil/informationsville/informationsville.js
  tests/cypress/e2e/accueil/recherche-hors-home-page.feature
  tests/cypress/e2e/accueil/title.feature
  tests/cypress/e2e/accueil/title/title.js
  tests/cypress/e2e/accueil/villes-similaires-proximite.feature
  tests/cypress/support/step_definitions/aide.js
  tests/cypress/support/step_definitions/aides-correspondantes.js
  tests/cypress/support/step_definitions/common/common.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/fil-d-ariane.js
  tests/cypress/support/step_definitions/footer.js
  tests/cypress/support/step_definitions/helpers.js
  tests/cypress/support/step_definitions/home-page.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/recherche-hors-home-page.js
  tests/cypress/support/step_definitions/resultats-aide.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
  tests/cypress/support/step_definitions/simulateur.js
  tests/cypress/support/step_definitions/ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

release-sentry
  .env.exemple
  .gitlab-ci.yml
  api/package.json
  api/src/index.koa.js
  front/package.json
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-422
  README.md
  api/package.json
  api/src/assets/datas/cities_rent.csv
  api/src/assets/datas/departements.csv
  api/src/assets/datas/house-pricing.csv
  api/src/db/migrations/20221130104500-create-departements.js
  api/src/models/TableCities.js
  api/src/models/TableDepartements.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/departements.js
  api/src/scripts/syncDepartements.js
  api/src/scripts/syncRegions.js
  api/src/utils/api.js
  front/src/assets/images/icons/building.svg
  front/src/components/KeyFigures.js
  front/src/components/buttons/ActionButton.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-43
  .gitlab-ci.yml
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/TableTensions.js
  api/src/models/definitions/tensions.js
  api/src/routes/cities.js
  front/src/components/CityForm.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/components/inputs/TextSearchInput.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix: seo
  api/src/utils/pe-api.js
  front/public/index.html
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-297
  tests/cypress/e2e/accueil/fil-d-ariane.feature
  tests/cypress/e2e/accueil/filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/filtre-resultats-ville.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/recherche-hors-home-page.feature
  tests/cypress/e2e/accueil/simulateur.feature
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/simulateur.js
Due: none

TE_MAV-330
  front/src/components/CityForm.js
  front/src/components/Footer.js
  front/src/components/MenuNavigation.js
  front/src/routes/Routes.js
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/home/components/MobilityGuideBanner.js
  front/src/utils/utils.js
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: package 1/2, package 2/2, deploy front staging, deploy conf staging

config: csp
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix: url
  front/src/common/contexts/NomPageContext.js
  front/src/components/Footer.js
  front/src/components/MenuNavigation.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  tests/cypress/support/step_definitions/fil-d-ariane.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
Due: package 1/2, package 2/2, deploy front staging

tests e2e
  tests/cypress/e2e/accueil/footer.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/support/step_definitions/home-page.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

update dependencies
  front/package.json
  front/public/images/cities.png
  front/src/assets/images/cities.svg
  front/src/routes/city/CitySearchPage.js
Due: package 1/2, package 2/2, deploy front staging

Merge branch 'reecriture-chemin-city' into 'develop'
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix: urls
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/routes/helps/components/MobileAppliedFilters.js
Due: package 1/2, package 2/2, deploy front staging

fix: header services de la ville
  front/src/routes/city/cityServices/CityServices.js
Due: package 1/2, package 2/2, deploy front staging

fix : jointure ville - departement
  api/src/assets/datas/departements.csv
Due: publish api image, deploy api staging

edit csp hotjar pour la production
  nginx/conf.d/production.conf
Due: deploy conf staging

correction-autocomplétion
  api/src/models/TableCities.js
  front/src/components/inputs/CitySelect.js
  front/src/routes/home/components/Advantages.js
  front/src/routes/home/components/HomeRegionsBanner.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

us 416
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityJobs/CityJobs.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-494 : page région
  README.md
  api/src/assets/datas/anciennes-nouvelles-regions.json
  api/src/assets/datas/departements.csv
  api/src/assets/datas/regions-social-housing.json
  api/src/assets/datas/regions-social-housing.old.json
  api/src/assets/datas/regions.json
  api/src/db/migrations/20221212104500-update-regions.js
  api/src/index.koa.js
  api/src/models/TableCities.js
  api/src/models/TableNewRegions.js
  api/src/models/TableRegions.js
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/departements.js
  api/src/models/definitions/regions.js
  api/src/routes/departements.js
  api/src/routes/professions.js
  api/src/routes/regions.js
  api/src/scripts/syncRegions.js
  api/src/utils/api.js
  api/src/utils/csv.js
  api/src/utils/pe-api.js
  api/src/utils/utils.js
  front/public/regions/76.jpg
  front/src/components/KeyFigures.js
  front/src/components/MainLayout.js
  front/src/components/Section.js
  front/src/routes/Routes.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/region/Region.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-494 & TE_MAV-493
  api/src/models/definitions/regions.js
  api/src/routes/regions.js
  front/src/api/regions.api.js
  front/src/common/contexts/index.js
  front/src/common/contexts/regionsContext.js
  front/src/routes/home/components/HomeHelpsBanner.js
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/region/Region.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-476 : update pe.io api url
  .env.exemple
  api/src/utils/pe-api.js
  front/src/routes/cities/components/CitiesSearchBar.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-518 : suppression des arrondissement sur les villes proches et similaires
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
