Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

front: tweak faq & new subheader styles
  front/src/components/SubHeader.js
  front/src/routes/faq/faq.js
Due: package 1/2, package 2/2, deploy front staging

front: tweak help-details style for more consistency with new designs
  front/src/routes/helps/HelpDetails.js
Due: package 1/2, package 2/2, deploy front staging

front: move common nav, backarrow to subheader component
  front/src/components/SubHeader.js
  front/src/routes/faq/faq.js
  front/src/routes/helps/HelpDetails.js
Due: package 1/2, package 2/2, deploy front staging

front: add map to search cities screen
  front/package-lock.json
  front/package.json
  front/public/index.html
  front/src/routes/cities/cities.js
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/cities/mobile-criterions-panel.js
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

front: update search cities screen style
  front/src/constants/colors.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy front staging

Pipeline avec gestion des versions
  .gitlab-ci.yml
  README.md
Due: none

front: better handling of loadings of cities list
  front/src/routes/cities/cities.js
Due: package 1/2, package 2/2, deploy front staging

front: tweak homepage & mobile menu
  front/src/components/MenuMobile.js
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

front: cities list : improve scroll for always displayed map on desktop
  front/src/routes/cities/cities.js
Due: package 1/2, package 2/2, deploy front staging

front: improve display for population numbers
  front/src/routes/cities/cities.js
  front/src/routes/cities/city-item.js
  front/src/routes/city/CityHeader.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

front: add interactivity features between map & list
  front/src/assets/images/marker-blue.png
  front/src/assets/images/marker-red.png
  front/src/assets/images/marker-yellow.png
  front/src/components/getLeafletIcon.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy front staging

front: city-items: show more evidently chosen tags
  front/src/routes/cities/cities.js
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy front staging

api: add autocomplete cities method
  api/src/models/TableCities.js
  api/src/routes/RouteCities.js
Due: publish api image, deploy api staging

front: add the ability to directly search for a city
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

front: remove search steps 4 and 5
  front/src/routes/search/search.js
  front/src/routes/search/step4.js
  front/src/routes/search/step5.js
Due: package 1/2, package 2/2, deploy front staging

front: remove unused step pages
  front/src/routes/routes.js
  front/src/routes/search/Search.js
  front/src/routes/search/SearchRegionOrCity.js
  front/src/routes/search/SearchRome.js
  front/src/routes/search/step1.js
Due: package 1/2, package 2/2, deploy front staging

front: refactor link into city-item, add hover styles
  front/src/routes/cities/cities.js
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy front staging

Fix CICD
  .gitlab-ci.yml
  docker-compose.production.yml
  docker-compose.recette.yml
Due: deploy conf staging

front: prevent multiple cities search ajax requests
  front/src/common/contexts/citiesContext.js
  front/src/routes/cities/cities.js
Due: package 1/2, package 2/2, deploy front staging

db: add missing index to bassins_jobs table
  api/src/db/migrations/20211213120607-add-bassins-jobs-index.js
Due: publish api image, deploy api staging
