Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:12.18.0
  script:
  - (which yarn || npm i -g yarn@1.15.2)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - tar -czvf "${PACKAGE_NAME}.${PACKAGE_VERSION}.tar.gz" dist
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

deploy front staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$RECETTE "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  stage: config_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

add missing searchable cities instead of districts
  api/package.json
  api/src/App.js
  api/src/assets/datas/unix_referentiel_code_rome_v346_utf8.xml
  api/src/constants/criterion.js
  api/src/crons/cron-regionsTensions.js
  api/src/crons/index.js
  api/src/db/migrations/202105190954-add-tensions-rome-label.js
  api/src/db/migrations/202105240959-create-rome-ogr.js
  api/src/db/migrations/202105241101-add-ogr-label.js
  api/src/db/migrations/20210524141756-create-regions_tensions.js
  api/src/db/migrations/202105251319-create-rome-skill.js
  api/src/db/migrations/20210526095135-add-missing-cities.js
  api/src/models/TableCities.js
  api/src/models/TableRegionsTensions.js
  api/src/models/TableRomeogrs.js
  api/src/models/TableRomeskills.js
  api/src/models/TableStats.js
  api/src/models/TableTensions.js
  api/src/models/definitions/regionsTensions.js
  api/src/models/definitions/romeogrs.js
  api/src/models/definitions/romeskills.js
  api/src/models/index.js
  api/src/routes/RouteCities.js
  api/src/routes/RouteProfessions.js
  api/src/routes/RouteSync.js
  api/src/utils/api.js
  api/src/utils/pe-api.js
  api/yarn.lock
Due: publish api image, deploy api staging

temp fix - remove duplicated cities from qa (before adding unique key)
  api/src/db/migrations/20210609170803-delete-duplicate-cities.js
Due: publish api image, deploy api staging

remove admin route
  api/src/routes/RouteAdmin.js
Due: publish api image, deploy api staging

Resolve "Fix deploy ssl files"
  .gitlab-ci.yml
  docker-compose.production.yml
  docker-compose.recette.yml
  docker-compose.yml
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Add production delivery description in README
  README.md
Due: none

Feature/573 moteur de recherche laffichage des résultats pour les villes à critères égales
  api/src/routes/RouteCities.js
  front/src/routes/cities/cities-filter-list.js
  front/src/routes/cities/city-item.js
  front/src/routes/cities/desktop-criterions-panel.js
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Fix add absolute path to targe only the deploy package.json
  .gitlab-ci.yml
Due: none

disable cache
  nginx/production.conf
  nginx/recette.conf
Due: deploy conf staging

Fix for ip recette / prod gitlab-cicd
  .gitlab-ci.yml
Due: none

fix style for buttons in list of jobs
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

Add the front-end ability to search for a job type
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

Better "no city found" page
  front/src/assets/images/information.svg
  front/src/assets/images/no_results.svg
  front/src/routes/cities/cities-filter-list.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

Add link to stats page in footer
  front/src/components/footer.js
Due: package 1/2, package 2/2, deploy front staging

add pdf with stats, accessible via /stats
  front/public/stats.pdf
  nginx/dev.conf
Due: package 1/2, package 2/2, deploy front staging, deploy conf staging

Fix some file path to trigge coorectly configuration publish job
  .gitlab-ci.yml
Due: none

fix the syncs that are happening on loading
  api/src/App.js
Due: publish api image, deploy api staging

restrict database port access
  docker-compose.yml
Due: deploy conf staging

disable by default SQL console logging
  .env.exemple
  api/src/models/index.js
Due: publish api image, deploy api staging

remove RouteSync file & routes (\o/)
  api/src/routes/RouteSync.js
Due: publish api image, deploy api staging

Fix nginx path conf for env dev to run
  .gitlab-ci.yml
  docker-compose.dev.yml
  nginx/conf.d/dev.conf
  nginx/production.conf
  nginx/recette.conf
Due: deploy conf staging

fix - front-end countryside search used a wrong criterion
  api/src/models/TableCities.js
  api/src/models/TableRegionsTensions.js
  front/src/routes/search/step5.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

remove back arrow from help page
  front/src/routes/help-details/help-details.js
Due: package 1/2, package 2/2, deploy front staging

update stats.pdf
  front/public/stats.pdf
Due: package 1/2, package 2/2, deploy front staging

use master wording about tension
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

fix display of population
  front/src/routes/cities/city-item.js
  front/src/routes/city/city-header.js
Due: package 1/2, package 2/2, deploy front staging

remove info icon from cities list
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

second round of tweaks to show autocomplete on mobile
  front/src/routes/search/search.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
