Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:12.18.0
  script:
  - (which yarn || npm i -g yarn@1.15.2)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - tar -czvf "${PACKAGE_NAME}.${PACKAGE_VERSION}.tar.gz" dist
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

deploy front staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$RECETTE "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  stage: config_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

docs: cleanup README.md
  README.md
  api/src/models/definitions/cities.js
Due: publish api image, deploy api staging

api: fix regionsTensionsCriterions sync
  api/src/models/TableCities.js
  api/src/models/TableRegionsTensionsCriterions.js
Due: publish api image, deploy api staging

api: remove entirely useless seeders files
  api/src/db/index.js
  api/src/db/seeders/development/202102020851-add-social-housings-values.js
  api/src/db/seeders/development/202103010951-clean-amenities-db.js
  api/src/db/seeders/development/202103080933-clean-descriptions.js
  api/src/db/seeders/development/202107261429-add-rome-codes.js
  api/src/db/seeders/production/202102020851-add-social-housings-values.js
  api/src/db/seeders/production/202103010951-clean-amenities-db.js
  api/src/db/seeders/production/202103080933-clean-descriptions.js
  api/src/db/seeders/production/202107261429-add-rome-codes.js
  api/src/db/seeders/recette/.empty
  api/src/db/seeders/recette/202102020851-add-social-housings-values.js
  api/src/db/seeders/recette/202103010951-clean-amenities-db.js
  api/src/db/seeders/recette/202103080933-clean-descriptions.js
  api/src/db/seeders/recette/202107261429-add-rome-codes.js
  api/src/db/seeders/staging/202102020851-add-social-housings-values.js
  api/src/db/seeders/staging/202103010951-clean-amenities-db.js
  api/src/db/seeders/staging/202103080933-clean-descriptions.js
  api/src/db/seeders/staging/202107261429-add-rome-codes.js
  api/src/db/seeders/test/202102020851-add-social-housings-values.js
  api/src/db/seeders/test/202107261429-add-rome-codes.js
  api/src/index.koa.js
  api/src/models/index.js
Due: publish api image, deploy api staging

nginx: fix /stats
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

api: prevent too many logs from sync cities
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

front: remove google tag, optimize
  front/public/index.html
Due: package 1/2, package 2/2, deploy front staging

condition sur l'env de dev sous le reseau PE && proxy zscaler
  .env.exemple
  api/config/default.js
  api/src/utils/pe-api.js
  docker-compose.dev.yml
  docker-compose.yml
  dockerfile_api
  dockerfile_front
Due: publish api image, deploy api staging, deploy conf staging

correction css badge au survol situation page d'aides
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

désactivation du build backup dans l'env pe
  backups/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Due: deploy conf staging

prise en compte des espace pour chercher un rome
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

MT-126 |ajout logo al
  api/src/assets/datas/helps.json
  docker-compose.dev.yml
  front/public/help-logos/action-logement-2.png
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

MT-127 && MT-125
  api/src/assets/datas/helps.json
  api/src/db/migrations/20220309163915-type-colonne-cumul-help.js
  api/src/models/definitions/helps.js
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

MT-124 modification libéllé des aides
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

MT-124 fix display none mots clef de filtre
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

MT-127
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

add: ENV_TYPE
  .gitlab-ci.yml
Due: none

Ajout license AGPL-3
  LICENSE
Due: none

Ajout nvx fichier de cities-tension
  api/src/assets/datas/cities-tension-old.csv
  api/src/assets/datas/cities-tension-utf8.csv
  api/src/assets/datas/cities-tension.csv
Due: publish api image, deploy api staging

Modification logo et but aide mobilize
  api/src/assets/datas/helps.json
  front/public/help-logos/mobilize.jpg
  front/public/help-logos/renault-group.png
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

remplacement des virgules pleine taille U+FF0C avec des petite virgule U+FE50
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

Correctif divers sur l'inté du texte d'aides
  api/src/assets/datas/helps.json
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

MT-126 logo pour alin et garantie visale
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

fix mt-124
  api/src/assets/datas/helps.json
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Revert "Merge branch 'MT-144' into 'develop'"
  api/src/assets/datas/cities-tension-old.csv
  api/src/assets/datas/cities-tension-utf8.csv
  api/src/assets/datas/cities-tension.csv
Due: publish api image, deploy api staging

retrai demandeur d'emploi pour logement temporaire
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

ajout lien alin logement social
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

cosmetique footer
  front/public/header-ville-test.jpeg
  front/public/logos/logo-ue.svg
  front/public/logos/logo_fonds_social_eu.svg
  front/public/logos/logo_pe.svg
  front/src/components/Footer.js
Due: package 1/2, package 2/2, deploy front staging

footer afficher sur chaque page
  front/src/components/Footer.js
  front/src/components/MainLayout.js
  front/src/routes/accessibility/Accessibility.js
  front/src/routes/home/Home.js
  front/src/routes/legal/Legal.js
Due: package 1/2, package 2/2, deploy front staging

fix erreur props isMobile
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

replie du descriptif cadre de vie
  front/src/routes/city/City.js
  front/src/routes/city/CityLife.js
Due: package 1/2, package 2/2, deploy front staging

Evol libéllé copyright
  front/src/components/Footer.js
Due: package 1/2, package 2/2, deploy front staging

Header non sticky
  front/src/components/HeaderMobile.js
Due: package 1/2, package 2/2, deploy front staging

QuickWin header
  front/src/components/HeaderDesktop.js
Due: package 1/2, package 2/2, deploy front staging

rm pret mobilipass a la demande de john
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

Ajout doc sur les backup de bdd
  README.md
Due: none

centrage des liens du menu
  front/src/components/HeaderDesktop.js
Due: package 1/2, package 2/2, deploy front staging

quickwin homepage enquete
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

Cosmétique mobility guide
  front/src/assets/images/02-Mobility-Homepage.png
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
