Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

maj dependance + fix top villes par departement
  api/package.json
  api/src/routes/departements.js
  front/package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Correctifs tests auto
  tests/cypress/e2e/accueil/fil-d-ariane.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/offres-d-emploi.feature
  tests/cypress/e2e/accueil/recherche-hors-home-page.feature
  tests/cypress/e2e/accueil/simulateur.feature
  tests/cypress/e2e/accueil/villes-similaires-proximite.feature
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
Due: none

null check smartTag
  front/src/components/CityForm.js
  front/src/components/HelpForm.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/routes/cities/components/CitiesFilters.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

fix(TE_MAV-496) : SEO - page ville
  api/src/models/TableCities.js
  api/src/models/TableDepartements.js
  api/src/models/TableTensions.js
  api/src/routes/cities.js
  api/src/routes/professions.js
  api/src/utils/utils.js
  front/src/components/Image.js
  front/src/components/TopJobs.js
  front/src/components/buttons/BackButton.js
  front/src/components/index.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/components/CityMenuBack.js
  front/src/routes/departement/Departement.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix readme
  README.md
Due: none

fix fonction inconnu sur la pagination
  front/src/routes/cities/components/CitiesList.js
Due: package 1/2, package 2/2, deploy front staging

ajout csp qualtrics
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

renommage object smartTag
  front/src/components/CityForm.js
  front/src/components/HelpForm.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/routes/cities/components/CitiesFilters.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

cas deconnection reseaux batch + csp iframe qualtrics
  api/src/utils/smart-emploi-api.js
  api/src/utils/utils.js
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: publish api image, deploy api staging, deploy conf staging

TE_MAV-546 : Offres d'emploi affichage
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobDetail.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/departement/Departement.js
  tests/cypress/e2e/accueil/offres-d-emploi.feature
  tests/cypress/support/step_definitions/offres-d-emploi.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-496 : retours
  front/src/components/TopJobs.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
Due: package 1/2, package 2/2, deploy front staging

compression et crop d'images
  front/public/logos/logo_action-logement_small.avif
  front/public/logos/logo_action-logement_small.png
  front/public/logos/logo_action-logement_small.webp
  front/public/logos/logo_fonds_social_eu.avif
  front/public/logos/logo_fonds_social_eu.jpg
  front/public/logos/logo_fonds_social_eu.svg
  front/public/logos/logo_fonds_social_eu.webp
  front/public/logos/logo_pe.svg
  front/public/logos/logo_pe_original.svg
  front/public/logos/original_logo_fonds_social_eu.jpg
  front/public/regions/24.avif
  front/public/regions/24.jpg
  front/public/regions/24.webp
  front/public/regions/27.avif
  front/public/regions/27.jpg
  front/public/regions/27.webp
  front/public/regions/32.avif
  front/public/regions/32.jpg
  front/public/regions/32.webp
  front/public/regions/76.avif
  front/public/regions/76.jpg
  front/public/regions/76.webp
  front/src/assets/images/LogoMobiville_gros_original.svg
  front/src/assets/images/hero-homepage.avif
  front/src/assets/images/hero-homepage.png
  front/src/assets/images/hero-homepage.webp
  front/src/assets/images/logo-mobiville.png
  front/src/assets/images/logo-mobiville.svg
  front/src/assets/images/marianne-logo.avif
  front/src/assets/images/marianne-logo.webp
  front/src/assets/images/moving-illustration.avif
  front/src/assets/images/moving-illustration.webp
  front/src/components/Footer.js
  front/src/components/HeaderDesktop.js
  front/src/components/HeaderMobile.js
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/home/components/Welcome.js
  front/src/routes/region/Region.js
Due: package 1/2, package 2/2, deploy front staging

Ano offre
  api/src/index.koa.js
  api/src/routes/cities.js
  front/src/routes/city/cityJobs/components/JobDetail.js
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

fix divers
  front/src/components/TopPageButton.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/region/Region.js
Due: package 1/2, package 2/2, deploy front staging

csp xiti + qualtrics
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Te mav 538 bis
  api/src/index.koa.js
  api/src/routes/cities.js
  api/src/utils/utils.js
  front/src/components/inputs/TextInput.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
  front/src/routes/city/components/HousingSimulator.js
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
  tests/cypress/support/step_definitions/simulateur.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

entete page region & département
  front/src/routes/departement/Departement.js
  front/src/routes/region/Region.js
Due: package 1/2, package 2/2, deploy front staging

Modification parcours région et haut de page
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/informations-region.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/offres-d-emploi.feature
  tests/cypress/support/step_definitions/common/common.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/region.js
  tests/cypress/support/step_definitions/simulateur.js
Due: none

passe mobile sur la page ville
  front/src/components/TopJobs.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

Correctifs ville
  tests/cypress/support/step_definitions/emploi-et-logement.js
Due: none

Te mav 732
  api/package.json
  api/src/assets/datas/cities-tension-utf8.csv
  api/src/assets/datas/cities-tension.csv
  api/src/constants/domTom.js
  api/src/models/TableRegionsTensionsCriterions.js
  front/package.json
  front/src/components/CityForm.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

top 10 des metier par tension et page de recherche par dept
  api/src/models/TableCities.js
  api/src/models/TableTensions.js
  api/src/routes/cities.js
  api/src/routes/departements.js
  front/src/components/TopJobs.js
  front/src/components/inputs/CitySelect.js
  front/src/constants/search.js
  front/src/routes/cities/components/CitiesSearchBar.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Te mav 657+641
  front/src/components/TopJobs.js
  front/src/routes/region/Region.js
Due: package 1/2, package 2/2, deploy front staging

css home page en mobile
  front/src/components/HelpsStandOut.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/home/components/Testimonies.js
Due: package 1/2, package 2/2, deploy front staging

fix css
  front/src/routes/home/components/HomeRegionsBanner.js
  front/src/routes/region/Region.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-644 : page département - mobile
  front/src/components/SectionHeader.js
  front/src/components/TopJobs.js
  front/src/components/TopPageButton.js
  front/src/components/index.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/departement/Departement.js
  front/src/routes/departement/components/TopCities.js
Due: package 1/2, package 2/2, deploy front staging

page ville mobile parcours seo
  front/public/logos/events-city-mobile.svg
  front/src/components/TopJobs.js
  front/src/components/inputs/LittleSelect.js
  front/src/components/inputs/RadioGroup.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-545 : update simulator rent/buy
  api/src/assets/datas/cities_rent.csv
  api/src/assets/datas/departements.csv
  api/src/db/migrations/20230227112000-update-rent-buy.js
  api/src/models/TableCities.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/departements.js
  api/src/utils/api.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSection.js
  front/src/routes/city/cityHome/components/HousingSimulator.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

rm fichier inutilisé sur l'us 545
  api/src/assets/datas/dvf-communes-2019.csv
  api/src/assets/datas/indicateurs-loyers-appartements.csv
Due: publish api image, deploy api staging

Te mav 660
  api/.babelrc
  api/jsconfig.json
  api/package.json
  api/src/routes/professions.js
  api/src/utils/smart-emploi-api.js
  front/package.json
  front/src/components/AppCarousel.js
  front/src/index.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/helps/HelpDetailsPage.js
  front/src/routes/home/components/Testimonies.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix ano sur page mobile
  front/src/components/MenuMobile.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-314 : secteurs qui recrutent
  README.md
  api/package.json
  api/src/assets/datas/secteurs_bassins.csv
  api/src/db/migrations/20230227112000-update-rent-buy.js
  api/src/db/migrations/20230228142000-create-secteurs-bassins.js
  api/src/models/TableCities.js
  api/src/models/TableSecteursBassins.js
  api/src/models/definitions/bassins.js
  api/src/models/definitions/secteursBassins.js
  api/src/scripts/syncSecteursBassins.js
  api/src/utils/api.js
  front/src/components/Tag.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityHome/components/CloseOpportunities.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Mise à jour du simulateur et page ville
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/simulateur.feature
  tests/cypress/support/step_definitions/common/common.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/simulateur.js
Due: none

fix logo header mobile
  front/src/components/HeaderMobile.js
Due: package 1/2, package 2/2, deploy front staging

fix logo aide page d'accueil
  front/src/components/HelpsStandOut.js
  front/src/routes/helps/HelpDetailsPage.js
Due: package 1/2, package 2/2, deploy front staging

ajout lazy loading et css
  front/src/components/Footer.js
  front/src/components/Image.js
  front/src/components/MainLayout.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

optimisation des API des métiers a potentiel
  api/src/models/TableTensions.js
Due: publish api image, deploy api staging
