Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

minor wording tweak
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

add script used to build a lighter equipments file
  api/src/scripts/equipments-file-builder.js
Due: publish api image, deploy api staging

update stats pdf
  front/public/stats.pdf
Due: package 1/2, package 2/2, deploy front staging

add go to main content link
  front/src/components/main-layout.js
Due: package 1/2, package 2/2, deploy front staging

front: partial refactoring / simplification of helps page
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

Allow the selection of multiple situations
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

Implement bassinsJobs table & sync functionalities
  api/package.json
  api/src/crons/cron-bassinsJobs.js
  api/src/crons/index.js
  api/src/db/migrations/20211004181153-create-bassins-jobs.js
  api/src/models/TableBassinsJobs.js
  api/src/models/TableCities.js
  api/src/models/definitions/bassins.js
  api/src/models/definitions/bassinsJobs.js
  api/src/utils/api.js
  api/yarn.lock
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

use /mnt/datalakepe for datalake data in qa env
  docker-compose.recette.yml
Due: deploy conf staging

api: fix broken profession route
  api/src/routes/RouteProfessions.js
Due: publish api image, deploy api staging

refactoring to stop using custom query-string parsing, which results in changes in search process
  api/src/routes/RouteCities.js
  front/package.json
  front/src/routes/cities/cities.js
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/cities/mobile-criterions-panel.js
  front/src/routes/cities/mobile-criterions-selection.js
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
  front/src/routes/helps/helps.js
  front/src/routes/search/search.js
  front/src/routes/search/step3.js
  front/src/routes/search/step4.js
  front/src/routes/search/step5.js
  front/src/utils/url.js
  front/yarn.lock
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Button Info for remarkable gardens
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, deploy front staging

api: Load data from datalake pe for bassinsjobs
  api/src/assets/datas/depuis_datalake_mockdata/mobiville_bassin_offre_full_example.bz2
  api/src/crons/cron-bassinsJobs.js
  api/src/utils/api.js
  docker-compose.dev.yml
  docker-compose.production.yml
  docker-compose.recette.yml
Due: publish api image, deploy api staging, deploy conf staging

jobs: search tension by department and bassin and display the most precise answer
  api/src/routes/RouteProfessions.js
  api/src/utils/pe-api.js
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

refactor lots of lower_case url parameters to camelCase
  api/src/routes/RouteCities.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/cities/mobile-criterions-selection.js
  front/src/routes/city/city-header.js
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
  front/src/routes/rome-list/RomeList.js
  front/src/routes/search/search.js
  front/src/routes/search/step3.js
  front/src/routes/search/step4.js
  front/src/routes/search/step5.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

front: fix social housing wording
  front/src/routes/city/panel-city-logement.js
Due: package 1/2, package 2/2, deploy front staging

api: add sync command for new regionsTensionsCriterions
  README.md
  api/package.json
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/index.js
  api/src/scripts/syncRegionsTensionsCriterions.js
Due: publish api image, deploy api staging

front fix: helps page display
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

front fix: fix selection display for helps
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

api: add regions_tensions_criterions table, use it instead of complicated query
  api/src/crons/index.js
  api/src/db/migrations/20211013113332-create-regions-tensions-criterions.js
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/TableRomeogrs.js
  api/src/models/TableStats.js
  api/src/models/definitions/regionsTensionsCriterions.js
  api/src/models/index.js
  api/src/routes/RouteCities.js
Due: publish api image, deploy api staging

front refactor: panel-city-jobs css sanitization
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

front: add react-helmet, new meta & titles everywhere
  front/package.json
  front/public/index.html
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
  front/src/routes/help-details/help-details.js
  front/src/routes/helps/helps.js
  front/src/routes/home/home.js
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

front: refactor a bit of panel-city-jobs to city
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

db/api: remove useless tables
  api/src/crons/cron-regionsTensions.js
  api/src/db/migrations/20211013141518-drop-stats-regions-tensions.js
  api/src/models/TableRegionsTensions.js
  api/src/models/TableStats.js
  api/src/models/definitions/regionsTensions.js
  api/src/models/definitions/stats.js
Due: publish api image, deploy api staging

front fix: housing delay is in months, not days
  front/src/routes/city/panel-city-logement.js
Due: package 1/2, package 2/2, deploy front staging

api: refactoring - remove useless sync on each app startup
  README.md
  api/package.json
  api/src/App.js
  api/src/models/TableTensions.js
  api/src/scripts/syncRomeOgrs.js
  api/src/scripts/syncRomeSkills.js
  api/src/scripts/syncTensionsPCS.js
Due: publish api image, deploy api staging
