Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

update social housing data when using sync Regions
  README.md
  api/src/assets/datas/regions-social-housing.json
  api/src/models/TableRegions.js
  api/src/scripts/syncRegions.js
  api/src/utils/api.js
Due: publish api image, deploy api staging

ogr list is now a rome list
  front/src/assets/images/rome/A.svg
  front/src/assets/images/rome/B.svg
  front/src/assets/images/rome/C.svg
  front/src/assets/images/rome/D.svg
  front/src/assets/images/rome/F.svg
  front/src/assets/images/rome/G.svg
  front/src/assets/images/rome/H.svg
  front/src/assets/images/rome/I.svg
  front/src/assets/images/rome/J.svg
  front/src/assets/images/rome/K.svg
  front/src/assets/images/rome/M.svg
  front/src/assets/images/rome/N.svg
  front/src/routes/ogr-list/OgrList.js
Due: package 1/2, package 2/2, deploy front staging

fix infinite scroll for cities, which was hampered by loading hiding everything
  front/src/routes/cities/cities.js
  front/src/routes/routes.js
Due: package 1/2, package 2/2, deploy front staging

fix active states for mobile nav
  front/src/components/menu-mobile.js
Due: package 1/2, package 2/2, deploy front staging

allow ignoring city size search step
  api/src/routes/RouteCities.js
  front/src/routes/search/step4.js
  front/src/routes/search/step5.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

improve help categories filter
  front/src/routes/helps/helps.js
  front/src/utils/url.js
Due: package 1/2, package 2/2, deploy front staging

remove react rewired, use CRA
  front/package-lock.json
  front/package.json
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

improve rome search autocomplete using full text index.
  api/src/db/migrations/20210729162852-add-full-text-index.js
  api/src/models/TableCities.js
  api/src/models/TableRomeogrs.js
  api/src/models/definitions/romeogrs.js
  api/src/routes/RouteCities.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Fix conflict nginx conf in dev mode deploy
  docker-compose.dev.yml
  docker-compose.production.yml
  docker-compose.recette.yml
  docker-compose.yml
Due: deploy conf staging

only show ogrs for rome codes in tension
  api/src/models/TableRomeogrs.js
  api/src/routes/RouteOgrs.js
Due: publish api image, deploy api staging

rename ogr-list to rome-list
  front/src/routes/faq/faq.js
  front/src/routes/rome-list/RomeList.js
  front/src/routes/routes.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

add tension information to the jobs panel
  api/src/routes/RouteProfessions.js
  api/src/utils/pe-api.js
  front/public/icons/trending-up.svg
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

handle errors in search
  front/src/assets/images/technical-error.svg
  front/src/common/contexts/citiesContext.js
  front/src/routes/error/ErrorPage.js
  front/src/routes/search/search.js
Due: package 1/2, package 2/2, deploy front staging

prevent crash when no description for job
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

bigger job descriptions
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

prevent showing negative salaries
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

fix city case
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

disable eslint warnings which crash CI builds
  front/.eslintrc.js
Due: package 1/2, package 2/2, deploy front staging

add code for google analytics & optimize
  front/public/index.html
Due: package 1/2, package 2/2, deploy front staging

fix tension ratio not sent if no salary
  api/src/routes/RouteProfessions.js
Due: publish api image, deploy api staging

h1 tag for helps page
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

update stats page for september
  front/public/stats.pdf
Due: package 1/2, package 2/2, deploy front staging

api professions: small refactoring to parallelize requests
  api/src/routes/RouteProfessions.js
Due: publish api image, deploy api staging

use h1, small css cleanup for help-details
  front/src/routes/help-details/help-details.js
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

autocomplete search fix
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging
