Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

Update nginx sync limit with production value
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Update nginx conf XSS protection
  nginx/conf.d/production.conf
Due: deploy conf staging

Update conf set-cookie (normalize)
  nginx/conf.d/production.conf
Due: deploy conf staging

Création de filariane.feature
  tests/cypress/e2e/accueil/filariane.feature
  tests/cypress/e2e/accueil/filariane/filariane.js
Due: none

MaJ libs
  api/package.json
  front/package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-308 : fix city input et métier vide
  front/src/common/contexts/citiesContext.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/TextSearchInput.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-335 : retours graphiques + fix job input
  front/src/assets/images/icons/building.svg
  front/src/assets/images/icons/hourglass.svg
  front/src/assets/images/icons/house.svg
  front/src/assets/images/icons/houses.svg
  front/src/assets/images/icons/pastille.svg
  front/src/components/KeyFigures.js
  front/src/components/inputs/JobSelect.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityHousing.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/BackResultsButton.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-157-retours : Fix retours graphiques
  front/src/assets/styles/main.scss
  front/src/components/MenuNavigation.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

fix: value check
  front/src/components/inputs/JobSelect.js
Due: package 1/2, package 2/2, deploy front staging

Fix conf blocking hotjars font and img + tagcommander connection
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Création de informationsville.feature
  tests/cypress/e2e/accueil/homepage.feature
  tests/cypress/e2e/accueil/informationsville.feature
  tests/cypress/e2e/accueil/informationsville/informationsville.js
  tests/cypress/e2e/accueil/rechercher/rechercher.js
  tests/cypress/support/step_definitions/ville.js
  tests/cypress/support/step_definitions/villes-correspondantes.js
Due: none

TE_MAV-286 : Menu navigation ville en mobile
  front/src/components/HeaderDesktop.js
  front/src/components/MenuNavigation.js
  front/src/components/SubHeader.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/BackResultsButton.js
  front/src/routes/city/components/CityMenuBack.js
Due: package 1/2, package 2/2, deploy front staging

fix cypress
  tests/cypress/e2e/accueil/filariane/filariane.js
  tests/cypress/e2e/accueil/rechercher/rechercher.js
Due: none

fix cypress
  tests/cypress/e2e/accueil/filariane.feature
Due: none

TE_MAV-335 & TE_MAV-414 : retours graphiques
  front/src/components/KeyFigures.js
  front/src/components/inputs/ActionButton.js
  front/src/routes/city/City.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/cityServices/components/CityServiceInfoCards.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-286 : Fix backlink + espacement simulateur
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-286 : typo style + backlink alignement + padding pages villes uniforme + key figure size
  front/src/components/KeyFigures.js
  front/src/components/MenuNavigation.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/CityMenuBack.js
Due: package 1/2, package 2/2, deploy front staging

fix cypress
  tests/cypress/support/step_definitions/ville.js
Due: none

TE_MAV-414 + TE_MAV-286 : retours graphiques
  front/src/components/KeyFigures.js
  front/src/components/MenuNavigation.js
  front/src/routes/city/cityServices/components/CityServiceInfoCards.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-157 : couleur filtres
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

fix nginx prod
  nginx/conf.d/production.conf
Due: deploy conf staging

fix nginx recette
  nginx/conf.d/recette.conf
Due: deploy conf staging

TE_MAV-266 : loader - page de résultats
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/cities/components/CityItem.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

Création de informationsaide.feature
  tests/cypress/e2e/accueil/informationsaide.feature
  tests/cypress/e2e/accueil/informationsaide/informationsaide.js
  tests/cypress/support/step_definitions/aides-correspondantes.js
Due: none

TE_MAV-241 : init new page
  api/src/models/TableCities.js
  front/src/common/contexts/professionsContext.js
  front/src/components/HeaderDesktop.js
  front/src/components/MenuNavigation.js
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-241 : refacto city pages
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CityHome.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/BackResultsButton.js
  front/src/routes/city/components/CityMenuBack.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-241 : loaders et mobile - page villes proches
  front/src/common/contexts/professionsContext.js
  front/src/components/MenuNavigation.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityServices/CityServices.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-257 : Ajout des cartes d'aides - page city home
  api/src/assets/datas/helps.json
  api/src/db/migrations/20221107114300-add-help-visibility-boost.js
  api/src/models/definitions/helps.js
  api/src/routes/helps.js
  front/src/common/contexts/helpsContext.js
  front/src/components/HorizontalScrollableSection.js
  front/src/components/Tag.js
  front/src/routes/city/CityHome.js
  front/src/routes/city/components/HelpsStandOut.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/HelpCard.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Update front/src/common/contexts/helpsContext.js
  front/src/common/contexts/helpsContext.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-328 : multiples cartes entreprises à proximité - page city home
  front/src/components/Footer.js
  front/src/components/HorizontalScrollableSection.js
  front/src/components/index.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityHome/components/HelpsStandOut.js
  front/src/routes/city/components/SectionHeader.js
Due: package 1/2, package 2/2, deploy front staging

commit 1
  api/src/constants/criterion.js
  api/src/models/TableCities.js
  api/src/routes/cities.js
  front/src/components/CityForm.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

commit 2
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-399 : accessibility page : non conforme
  front/src/components/Footer.js
Due: package 1/2, package 2/2, deploy front staging

Retours graphiques : TE_MAV-241 + TE_MAV-257 + TE_MAV-328 + TE_MAV-399
  front/src/components/BackButton.js
  front/src/components/Footer.js
  front/src/components/index.js
  front/src/routes/accessibility/Accessibility.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityHome/components/HelpsStandOut.js
  front/src/routes/city/components/CityMenuBack.js
  front/src/routes/legal/Legal.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

Fix logging
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

Apply 1 suggestion(s) to 1 file(s)
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

Apply 1 suggestion(s) to 1 file(s)
  api/src/constants/criterion.js
Due: publish api image, deploy api staging

Modification de informationsaide.feature
  tests/cucumber-messages.ndjson
  tests/cypress/e2e/accueil/filariane.feature
  tests/cypress/e2e/accueil/filariane/filariane.js
  tests/cypress/e2e/accueil/footer.feature
  tests/cypress/e2e/accueil/informationsaide.feature
  tests/cypress/e2e/accueil/informationsaide/informationsaide.js
  tests/cypress/e2e/accueil/informationsville.feature
  tests/cypress/e2e/accueil/informationsville/informationsville.js
  tests/cypress/e2e/accueil/rechercher/rechercher.js
  tests/cypress/support/step_definitions/aide.js
  tests/cypress/support/step_definitions/aides-correspondantes.js
  tests/cypress/support/step_definitions/ville.js
  tests/cypress/support/step_definitions/villes-correspondantes.js
Due: none
