Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

front feat: rename filters label in panel-city-jobs
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

front: add accessibility page
  front/src/components/footer.js
  front/src/routes/accessibility/Accessibility.js
  front/src/routes/routes.js
Due: package 1/2, package 2/2, deploy front staging

front: override background color of MUI css baseline
  front/src/assets/styles/main.scss
Due: package 1/2, package 2/2, deploy front staging

api: refactoring - remove useless sync on each app startup
  README.md
  api/package.json
  api/src/App.js
  api/src/models/TableTensions.js
  api/src/scripts/syncRomeOgrs.js
  api/src/scripts/syncRomeSkills.js
  api/src/scripts/syncTensionsPCS.js
Due: publish api image, deploy api staging

front: add react-helmet, new meta & titles everywhere
  front/package.json
  front/public/index.html
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
  front/src/routes/help-details/help-details.js
  front/src/routes/helps/helps.js
  front/src/routes/home/home.js
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

front refactor: panel-city-jobs css sanitization
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

front: fix social housing wording
  front/src/routes/city/panel-city-logement.js
Due: package 1/2, package 2/2, deploy front staging

front: hide the number of available job offers in cities
  front/src/routes/cities/city-item.js
Due: package 1/2, package 2/2, deploy front staging

front: implement new panel-city-jobs page
  front/src/assets/styles/main.scss
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

db/api: remove useless tables
  api/src/crons/cron-regionsTensions.js
  api/src/db/migrations/20211013141518-drop-stats-regions-tensions.js
  api/src/models/TableRegionsTensions.js
  api/src/models/TableStats.js
  api/src/models/definitions/regionsTensions.js
  api/src/models/definitions/stats.js
Due: publish api image, deploy api staging

api: add sync command for new regionsTensionsCriterions
  README.md
  api/package.json
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/index.js
  api/src/scripts/syncRegionsTensionsCriterions.js
Due: publish api image, deploy api staging

api: add regions_tensions_criterions table, use it instead of complicated query
  api/src/crons/index.js
  api/src/db/migrations/20211013113332-create-regions-tensions-criterions.js
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/TableRomeogrs.js
  api/src/models/TableStats.js
  api/src/models/definitions/regionsTensionsCriterions.js
  api/src/models/index.js
  api/src/routes/RouteCities.js
Due: publish api image, deploy api staging

front: refactor a bit of panel-city-jobs to city
  front/src/routes/city/city.js
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

front: implement help details new design
  front/src/routes/help-details/help-details.js
Due: package 1/2, package 2/2, deploy front staging

front: rename city files
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/PanelCityHousing.js
  front/src/routes/city/PanelCityJobs.js
  front/src/routes/city/PanelCityLife.js
  front/src/routes/routes.js
Due: package 1/2, package 2/2, deploy front staging

front: design tweak for job offers panel
  front/src/routes/city/PanelCityJobs.js
Due: package 1/2, package 2/2, deploy front staging

front fix: material-ui 5 import fixes
  front/src/index.js
Due: package 1/2, package 2/2, deploy front staging

front: update icons from helps
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

front: migrate to material-ui 5
  front/package.json
  front/src/App.js
  front/src/components/button.js
  front/src/components/menu-desktop.js
  front/src/components/menu-mobile.js
  front/src/components/menu.js
  front/src/components/top-mobile-menu.js
  front/src/index.js
  front/src/routes/cities/cities-filter-list.js
  front/src/routes/cities/city-item.js
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/cities/mobile-criterions-panel.js
  front/src/routes/cities/mobile-criterions-selection.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/PanelCityJobs.js
  front/src/routes/city/PanelCityLife.js
  front/src/routes/help-details/help-details.js
  front/src/routes/helps/helps.js
  front/src/routes/mobility-guide/MobilityGuide.js
  front/src/routes/rome-list/RomeList.js
  front/src/routes/search/search.js
  front/src/routes/search/step1.js
  front/src/routes/search/step2.js
  front/src/routes/search/step3.js
  front/src/routes/search/step4.js
  front/src/routes/search/step5.js
  front/yarn.lock
Due: package 1/2, package 2/2, deploy front staging

front: implement new helps page design
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

data: update helps
  api/src/assets/datas/helps.json
Due: publish api image, deploy api staging

api/db: new, renamed columns for helps table
  api/package.json
  api/src/assets/datas/helps.json
  api/src/db/migrations/20211025063238-alter-helps-for-more-infos.js
  api/src/db/seeders/production/202107211549-updated-helps.js
  api/src/models/TableHelps.js
  api/src/models/definitions/helps.js
  api/src/routes/RouteHelps.js
  api/src/scripts/syncHelps.js
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

front: update stats pdf page
  front/public/stats.pdf
Due: package 1/2, package 2/2, deploy front staging

nginx/api: express nginx/api dependency in docker-compose
  docker-compose.yml
Due: deploy conf staging

front: add help type info
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

front: fix ApplyToJobLink style
  front/src/routes/city/PanelCityJobs.js
Due: package 1/2, package 2/2, deploy front staging
