Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

fix sonar issue
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

refacto usescroll(up)
  front/src/common/hooks/use-scroll.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/UseScroll.js
Due: package 1/2, package 2/2, deploy front staging

ajout flood zone dédiée pour l'autocompletion
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix floodzone autocomplete
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

fix style ios
  front/src/components/inputs/ButtonGroup.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-267 : mobile selected button welcome section
  front/src/components/inputs/ButtonGroup.js
  front/src/routes/home/components/WelcomeSearchForm.js
Due: package 1/2, package 2/2, deploy front staging

fix merge
  front/src/components/inputs/ButtonGroup.js
Due: package 1/2, package 2/2, deploy front staging

Update security config for nginx server
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Update CSP content
  nginx/conf.d/recette.conf
Due: deploy conf staging

Update prod conf for CSP content
  nginx/conf.d/production.conf
Due: deploy conf staging

husky
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

TE_MAV-308 : fix cities search
  front/src/components/CityForm.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

desactivation git lfs
  .gitattributes
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

fix bug reclic
  .husky/pre-commit
  front/src/components/CityForm.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

refacto formulaire DesktopCriterionPanel
  front/src/components/CityForm.js
  front/src/components/inputs/CitySelect.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

refacto simulateur city housing
  front/public/icons/building.svg
  front/src/routes/city/City.js
  front/src/routes/city/CityHousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-289 : simulateur de logement
  front/src/assets/images/logo-ALin.png
  front/src/assets/images/logo-logement-social.png
  front/src/components/index.js
  front/src/components/inputs/TextInput.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHousingSimulator.js
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-253 : update du lien action logement
  front/src/routes/city/CityHousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

inté et css indicateur de tension immo
  front/src/routes/city/City.js
  front/src/routes/city/CityHousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-253 : import données sur les loyers F2 F4
  .husky/pre-commit
  api/src/assets/datas/house-pricing.csv
  api/src/db/migrations/20221003152600-update-house-rent.js
  api/src/models/TableCities.js
  api/src/models/definitions/cities.js
  api/src/utils/api.js
  front/src/routes/city/CityHousingSimulator.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-252 : Affichage partie chiffres + offres
  api/src/routes/cities.js
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CitySubHeader.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-252 : Récupération des offres avec candidats manquants et des entreprises à proximité
  api/src/routes/cities.js
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/api/cities.api.js
  front/src/assets/images/icons/handshake.svg
  front/src/assets/images/icons/malette.svg
  front/src/assets/images/icons/profil_entreprise.svg
  front/src/common/contexts/citiesContext.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/City.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-252 : Fix lint
  front/src/routes/city/CityHeader.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-252 : Fix lint
  front/src/routes/city/CityHeader.js
Due: package 1/2, package 2/2, deploy front staging

fix : il y a X jours
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/routes/city/City.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-318 : liens partenaires page ville (logement)
  front/src/routes/city/CityHousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-320 : liste déroulante métier - sélection d'option double
  front/src/components/inputs/JobSelect.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-320 : changement de métier sélectionné dans l'url
  front/src/components/inputs/JobSelect.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-320 : remove warning for selected option
  front/src/components/inputs/JobSelect.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-321 : réinitialiser recherche aides mobile
  front/src/components/HelpForm.js
  front/src/routes/city/CityHousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

artifact e2e gitlabci
  .gitlab-ci.yml
Due: none

TE_MAV-313 : fix bouton mobile - page d'acceuil
  front/src/components/inputs/ButtonGroup.js
  front/src/routes/home/components/WelcomeSearchForm.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-312 : correctif styles - page aides
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

extensions vscode recommandé
  .vscode/extensions.json
  .vscode/settings.json
Due: none

TE_MAV-323 : autocompletes debounce
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
Due: package 1/2, package 2/2, deploy front staging

tag e2e simulateur
  front/src/routes/city/components/HousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

commit 1
  front/src/components/CityForm.js
Due: package 1/2, package 2/2, deploy front staging

commit 1
  front/src/components/MenuNavigation.js
Due: package 1/2, package 2/2, deploy front staging

commit 2
  front/src/components/CityForm.js
  front/src/components/inputs/ActionButton.js
Due: package 1/2, package 2/2, deploy front staging
