Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

refactor: rewrite equipments sync, and useless, slow code used to get city equipments social housing info
  README.md
  api/src/db/migrations/20220127163801-alter-equipment-table-add-totals.js
  api/src/models/TableCities.js
  api/src/models/TableEquipments.js
  api/src/models/TableSocialhousings.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/equipments.js
  api/src/models/definitions/oldRegions.js
  api/src/models/definitions/socialhousings.js
  api/src/routes/cities.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/constants/lifeCriterions.js
  front/src/routes/city/City.js
  front/src/routes/city/CityLife.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Fix(bckp): fix path
  backups/BACKUP.sh
Due: none

fix path
  docker-compose.yml
Due: deploy conf staging

Add database backup
  .gitlab-ci.yml
  README.md
  backups/BACKUP.sh
  backups/Dockerfile
  docker-compose.production.yml
  docker-compose.recette.yml
  docker-compose.yml
Due: deploy conf staging

front: add new stats link
  front/public/stats.pdf
  front/src/components/Footer.js
Due: package 1/2, package 2/2, deploy front staging

front: refactor: remove unused cities code
  api/src/models/TableCities.js
  api/src/routes/cities.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

api: remove unused code
  api/mocha.opts
  api/src/models/TableBassins.js
  api/src/models/TableTensions.js
  api/src/scripts/syncProfessionsInTension.js
  api/src/utils/crypto.js
Due: publish api image, deploy api staging

front: remove unused images
  front/src/assets/images/Habitants.svg
  front/src/assets/images/Loader_Mobiville.gif
  front/src/assets/images/Météo.svg
  front/src/assets/images/air.svg
  front/src/assets/images/help_view.svg
  front/src/assets/images/information.svg
  front/src/assets/images/logo_MobiVille.svg
  front/src/assets/images/parcs.svg
  front/src/assets/images/search_view.svg
  front/src/assets/images/temperature.svg
  front/src/assets/images/test-city-image.jpg
Due: package 1/2, package 2/2, deploy front staging

front: remove unused js files
  front/src/reportWebVitals.js
  front/src/setupTests.js
  front/src/utils/navigator.js
Due: package 1/2, package 2/2, deploy front staging

front: re-add reportWebVitals file
  front/src/reportWebVitals.js
Due: package 1/2, package 2/2, deploy front staging

api: move special cities population to model method
  api/src/db/migrations/20210526095135-add-missing-cities.js
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

api: no sentry on dev env
  api/src/index.koa.js
Due: publish api image, deploy api staging

api: fix character not escaped on ogr search
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

api: fix autocomplete regex
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

api: remove superfluous console.log
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

api, db: create cities_jobs table, populate it with datalake data
  api/src/assets/datas/depuis_datalake_mockdata/20211221_mv_villes_offre_full.csv.bz2
  api/src/assets/datas/depuis_datalake_mockdata/mobiville_bassin_offre_full_example.bz2
  api/src/crons/cron-bassinsJobs.js
  api/src/crons/cron-citiesJobs.js
  api/src/crons/index.js
  api/src/db/migrations/20211229154847-create-cities-jobs-remove-bassins-jobs.js
  api/src/models/TableBassinsJobs.js
  api/src/models/TableCities.js
  api/src/models/TableCitiesJobs.js
  api/src/models/definitions/bassins.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/citiesJobs.js
  api/src/utils/api.js
  docker-compose.dev.yml
Due: publish api image, deploy api staging

docs: add yarn sync:helps to README
  README.md
Due: none

Fix/ops dev context and backup env
  backups/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Due: deploy conf staging

fix: restore migration file that has been removed by mistake
  api/src/db/migrations/202103010551-add-average-social-housing.js
Due: publish api image, deploy api staging

docs: cleanup README.md
  README.md
  api/src/models/definitions/cities.js
Due: publish api image, deploy api staging
