Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:16.16.0
  script:
  - (which yarn || npm i -g yarn@1.22.15)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - PUB_BRANCH=${CI_COMMIT_BRANCH//\//_}
  - tar -czvf "${PACKAGE_NAME}-${PUB_BRANCH}.${VERSION}.tar.gz" dist
  - echo "${PACKAGE_NAME}-${PUB_BRANCH}.${VERSION}.tar.gz"
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - PUB_BRANCH=${CI_COMMIT_BRANCH//\//_}
  ...

deploy front staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$IP_SERVER "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  ...

balise SEO HP
  front/public/index.html
Due: package 1/2, package 2/2, deploy front staging

Création de villessimilairesproxilite.feature
  tests/cypress/e2e/accueil/filariane.feature
  tests/cypress/e2e/accueil/filariane/filariane.js
  tests/cypress/e2e/accueil/footer.feature
  tests/cypress/e2e/accueil/footer/footer.js
  tests/cypress/e2e/accueil/villessimilairesproximite.feature
  tests/cypress/e2e/accueil/villessimilairesproximite/villes-similaires-proximite.js
  tests/cypress/support/step_definitions/villes-correspondantes.js
Due: none

commit 1
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

commit 1
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-158 : Initialisation refonte page offres des villes
  front/src/routes/city/CityJobs.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-158 : filtre expérience
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-158 : refonte page offres d'emploi
  api/src/routes/professions.js
  front/src/components/index.js
  front/src/components/inputs/ActionButton.js
  front/src/components/inputs/LittleSelect.js
  front/src/routes/city/City.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobCard.js
  front/src/routes/city/cityJobs/components/JobDetail.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/cityJobs/components/JobsList.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-465 : improve similar-cities and close-cities search perf
  api/src/models/TableCities.js
  front/src/components/inputs/LittleSelect.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix : ville simillaire - population >= 200 000
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

TE_MAV-158 : fix "il y a ... minutes" timezone
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

fix evol page info de la ville
  front/public/index.html
  tests/cypress/e2e/accueil/informationsville/informationsville.js
Due: package 1/2, package 2/2, deploy front staging

Création de filtrerresultats.feature
  tests/cypress/e2e/accueil/filtrerresultats.feature
  tests/cypress/e2e/accueil/informationsville/informationsville.js
  tests/cypress/e2e/accueil/villessimilairesproximite/villes-similaires-proximite.js
  tests/cypress/support/step_definitions/villes-correspondantes.js
Due: none

Anno bouton postuler
  front/src/components/SubHeader.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

Maximiser l'utilisation des caches HTTP cache a 100jours
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Ajout fichier woff woff 2
  front/src/assets/fonts/Roboto/Roboto-Black.ttf
  front/src/assets/fonts/Roboto/Roboto-BlackItalic.ttf
  front/src/assets/fonts/Roboto/Roboto-Bold.ttf
  front/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf
  front/src/assets/fonts/Roboto/Roboto-Italic.ttf
  front/src/assets/fonts/Roboto/Roboto-Light.ttf
  front/src/assets/fonts/Roboto/Roboto-LightItalic.ttf
  front/src/assets/fonts/Roboto/Roboto-Medium.ttf
  front/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf
  front/src/assets/fonts/Roboto/Roboto-Regular.ttf
  front/src/assets/fonts/Roboto/Roboto-Thin.ttf
  front/src/assets/fonts/Roboto/Roboto-ThinItalic.ttf
  front/src/assets/fonts/Roboto/roboto.scss
  front/src/assets/styles/main.scss
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-158 : city jobs version mobile
  front/src/common/contexts/professionsContext.js
  front/src/common/hooks/use-scroll.js
  front/src/components/Accordion.js
  front/src/components/HeaderDesktop.js
  front/src/components/HelpForm.js
  front/src/components/MenuNavigation.js
  front/src/components/buttons/ActionButton.js
  front/src/components/buttons/BackButton.js
  front/src/components/buttons/Button.js
  front/src/components/buttons/ButtonGroup.js
  front/src/components/buttons/CloseButton.js
  front/src/components/buttons/FiltersButton.js
  front/src/components/buttons/ResetButton.js
  front/src/components/index.js
  front/src/components/inputs/Button.js
  front/src/components/inputs/CheckboxInput.js
  front/src/components/inputs/LittleSelect.js
  front/src/components/inputs/RadioInput.js
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsPanel.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobCard.js
  front/src/routes/city/cityJobs/components/JobDetail.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/components/CityMenuBack.js
  front/src/routes/helps/components/MobileAppliedFilters.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

Fix de de la font
  front/public/index.html
Due: package 1/2, package 2/2, deploy front staging

refacto : select criterions cities
  front/src/components/CityForm.js
  front/src/components/inputs/LittleSelect.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-158 : fix mobile version
  front/src/components/Accordion.js
  front/src/components/HelpForm.js
  front/src/components/inputs/CheckboxInput.js
  front/src/components/inputs/RadioInput.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobCard.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-158 : fix vertical scroll on mobile
  front/src/assets/styles/main.scss
  front/src/routes/city/cityJobs/components/JobsFilters.js
Due: package 1/2, package 2/2, deploy front staging

fix mobile scroll
  front/src/assets/styles/main.scss
  front/src/components/inputs/CheckboxInput.js
  front/src/components/inputs/RadioInput.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
Due: package 1/2, package 2/2, deploy front staging

MaJ libs js
  api/package.json
  front/package.json
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-297 : filtre opportunités
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/City.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobCard.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-315 : taux embauche pour les villes
  api/src/routes/cities.js
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/api/cities.api.js
  front/src/common/contexts/citiesContext.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/cityHome/CityHome.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

marquage manuel
  front/src/App.js
  front/src/common/contexts/NomPageContext.js
  front/src/common/contexts/index.js
  front/src/components/CityForm.js
  front/src/components/Footer.js
  front/src/components/HelpForm.js
  front/src/components/buttons/ActionButton.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/components/inputs/LittleSelect.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/Routes.js
  front/src/routes/cities/components/CitiesList.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/cities/components/DesktopCriterionsPanel.js
  front/src/routes/cities/components/MobileCriterionsSelection.js
  front/src/routes/city/City.js
  front/src/routes/city/cityCloseCities/CityCloseCities.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CloseCompanies.js
  front/src/routes/city/cityJobs/CityJobs.js
  front/src/routes/city/cityJobs/components/JobsFilters.js
  front/src/routes/city/cityServices/CityServices.js
  front/src/routes/city/components/HousingSimulator.js
  front/src/routes/home/Home.js
  front/src/routes/home/components/MobilityGuideBanner.js
  front/src/routes/home/components/WelcomeSearchForm.js
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

fix dep react-tagco
  front/package.json
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-315 : fix nomenclature et no data display
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/components/KeyFigures.js
  front/src/routes/city/cityHome/CityHome.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Création filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/fil-d-ariane.feature
  tests/cypress/e2e/accueil/filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/filtre-resultats-ville.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/homepage/homepage.js
  tests/cypress/e2e/accueil/informations-aide.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/informationsaide/informationsaide.js
  tests/cypress/e2e/accueil/informationsville/informationsville.js
  tests/cypress/e2e/accueil/recherche-hors-home-page.feature
  tests/cypress/e2e/accueil/title.feature
  tests/cypress/e2e/accueil/title/title.js
  tests/cypress/e2e/accueil/villes-similaires-proximite.feature
  tests/cypress/support/step_definitions/aide.js
  tests/cypress/support/step_definitions/aides-correspondantes.js
  tests/cypress/support/step_definitions/common/common.js
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/fil-d-ariane.js
  tests/cypress/support/step_definitions/footer.js
  tests/cypress/support/step_definitions/helpers.js
  tests/cypress/support/step_definitions/home-page.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/recherche-hors-home-page.js
  tests/cypress/support/step_definitions/resultats-aide.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
  tests/cypress/support/step_definitions/simulateur.js
  tests/cypress/support/step_definitions/ville.js
  tests/cypress/support/step_definitions/villes-similaires-proximite.js
Due: none

TE_MAV-422 : ajout des loyers moyen t2/t4 villes et départements
  README.md
  api/package.json
  api/src/assets/datas/cities_rent.csv
  api/src/assets/datas/departements.csv
  api/src/assets/datas/house-pricing.csv
  api/src/db/migrations/20221130104500-create-departements.js
  api/src/models/TableCities.js
  api/src/models/TableDepartements.js
  api/src/models/definitions/cities.js
  api/src/models/definitions/departements.js
  api/src/scripts/syncDepartements.js
  api/src/scripts/syncRegions.js
  api/src/utils/api.js
  front/src/assets/images/icons/building.svg
  front/src/components/KeyFigures.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

fix : cityHome affichage PC
  front/src/components/buttons/ActionButton.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-422 : MR review
  api/src/models/definitions/departements.js
  front/src/routes/city/cityHome/components/CityHousingSimulator.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

maj dependances + commit sha release
  .env.exemple
  .gitlab-ci.yml
  api/package.json
  api/src/index.koa.js
  front/package.json
  package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Te mav 43
  .gitlab-ci.yml
  api/src/models/TableRegionsTensionsCriterions.js
  api/src/models/TableTensions.js
  api/src/models/definitions/tensions.js
  api/src/routes/cities.js
  front/src/components/inputs/CitySelect.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

ajout ordre alphabétique pour l'autocomplétion
  front/src/components/inputs/CitySelect.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

fix autocomplétion regions
  front/src/components/inputs/CitySelect.js
Due: package 1/2, package 2/2, deploy front staging

Modification filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/fil-d-ariane.feature
  tests/cypress/e2e/accueil/filtre-offres-d-emploi.feature
  tests/cypress/e2e/accueil/filtre-resultats-ville.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/e2e/accueil/informations-ville.feature
  tests/cypress/e2e/accueil/recherche-hors-home-page.feature
  tests/cypress/e2e/accueil/simulateur.feature
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/offres-d-emploi.js
  tests/cypress/support/step_definitions/resultats-ville.js
  tests/cypress/support/step_definitions/simulateur.js
Due: none

fix recherche page d'accueil + rg 15% de regions avec de l'opportunités
  front/src/components/CityForm.js
  front/src/components/inputs/CitySelect.js
  front/src/components/inputs/JobSelect.js
  front/src/components/inputs/TextSearchInput.js
Due: package 1/2, package 2/2, deploy front staging

fix balise verif google + cache api a 24h
  api/src/utils/pe-api.js
  front/public/index.html
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Modification de homepage.feature
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/support/step_definitions/home-page.js
Due: none

commit url rewrite
  nginx/conf.d/dev.conf
Due: deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
