Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

fix top jobs departements d'outremer
  api/src/models/TableCities.js
  api/src/models/TableTensions.js
  api/src/routes/departements.js
  front/src/components/TopJobs.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-838 TE_MAV-835 TE_MAV-836 TE_MAV-837
  README.md
  api/package.json
  api/src/models/TableCities.js
  api/src/models/TableDepartements.js
  api/src/routes/regions.js
  front/package.json
  front/src/components/HelpsStandOut.js
  front/src/components/KeyFigures.js
  front/src/components/MainLayout.js
  front/src/components/Section.js
  front/src/components/SectionHeader.js
  front/src/routes/city/cityHome/CityHome.js
  front/src/routes/city/cityJobs/JobsUtils.js
  front/src/routes/city/cityJobs/components/JobCard.js
  front/src/routes/city/cityJobs/components/JobDetail.js
  front/src/routes/departement/components/TopCities.js
  front/src/routes/home/Home.js
  front/src/routes/region/Region.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

ajout api access emploi
  README.md
  api/package.json
  api/src/crons/cron-departementJobs.js
  api/src/crons/index.js
  api/src/db/migrations/20230303153900-drop-embauche-departement.js
  api/src/models/definitions/departements.js
  api/src/routes/departements.js
  api/src/scripts/syncEmbaucheDepartements.js
  api/src/utils/pe-api.js
  api/src/utils/smart-emploi-api.js
Due: publish api image, deploy api staging

css et arrondi sur tauxembauche
  api/src/utils/smart-emploi-api.js
  front/src/components/KeyFigures.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Afficher secteurs qui recrutent et qq corrections
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/region.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
Due: none

maj sentry & nginx
  api/package.json
  docker-compose.yml
  front/package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

fix-btn-retour-ville-outremer
  api/package.json
  front/package.json
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

maj popup cookies
  tests/cypress/support/step_definitions/helpers.js
Due: none

ajout report-to csp et rm hotjar googletag
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Correctifs et popup cookies
  tests/cypress/e2e/accueil/villes-similaires-proximite.feature
  tests/cypress/support/step_definitions/emploi-et-logement.js
  tests/cypress/support/step_definitions/region.js
  tests/cypress/support/step_definitions/services-de-la-ville.js
Due: none

TE_MAV-910 : redirection page ville - recherche
  front/src/components/CityForm.js
  front/src/routes/mobility-guide/GuideStep2.js
  front/src/routes/mobility-guide/components/AccordionPane.js
Due: package 1/2, package 2/2, deploy front staging

fix chevron orientation
  front/src/routes/mobility-guide/components/GuideStepCard.js
Due: package 1/2, package 2/2, deploy front staging

fix sentry errors
  api/src/routes/cities.js
  api/src/utils/smart-emploi-api.js
  front/src/routes/departement/Departement.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-839 : industrialiser la donnée secteurs qui recrutent
  api/package.json
  api/src/crons/cron-cities.js
  api/src/crons/cron-secteursBassins.js
  api/src/scripts/syncSecteursBassins.js
  api/src/utils/api.js
Due: publish api image, deploy api staging

fix image
  front/public/logos/logo_pe_original.svg
  front/public/logos/original_logo_fonds_social_eu.jpg
  front/src/assets/images/logos/logo_action-logement_small.avif
  front/src/assets/images/logos/logo_action-logement_small.png
  front/src/assets/images/logos/logo_action-logement_small.webp
  front/src/assets/images/logos/logo_fonds_social_eu.avif
  front/src/assets/images/logos/logo_fonds_social_eu.jpg
  front/src/assets/images/logos/logo_fonds_social_eu.webp
  front/src/components/Footer.js
Due: package 1/2, package 2/2, deploy front staging

maj dependances
  api/package.json
  front/package.json
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

rm error.log
  api/yarn-error.log
Due: publish api image, deploy api staging

typo import file
  front/src/common/contexts/index.js
Due: package 1/2, package 2/2, deploy front staging

Mise à jour de la home page
  tests/cypress/e2e/accueil/home-page.feature
  tests/cypress/support/step_definitions/emploi-et-logement.js
Due: none

petit coup de prettier
  api/src/scripts/syncDepartementsTemperatures.js
  front/src/routes/city/cityServices/CityServices.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

TE_MAV-327 : report cities data
  .gitignore
  api/package.json
  api/src/models/TableCities.js
  api/src/models/TableEquipments.js
  api/src/scripts/reportCitiesData.js
  api/src/utils/csv.js
  api/src/utils/pe-api.js
Due: publish api image, deploy api staging
