Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml

link mobility guide page to city page
  front/src/routes/city/city.js
Due: package 1/2, package 2/2, deploy front staging

improve two wordings from cities list & search
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

disable skill search & fix matchings for jobs
  api/src/models/TableRomeogrs.js
  api/src/routes/RouteCities.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Create Mobility Guide page
  api/src/models/TableCities.js
  front/src/routes/mobility-guide/MobilityGuide.js
  front/src/routes/routes.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

feat: add autocompletion for job search
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

second round of tweaks to show autocomplete on mobile
  front/src/routes/search/search.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

remove info icon from cities list
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

add stats page for prod
  nginx/production.conf
Due: deploy conf staging

rewrite help page filter logic to be able to target a category from url
  front/src/routes/helps/helps.js
Due: package 1/2, package 2/2, deploy front staging

display matching job title or skill
  front/src/common/contexts/citiesContext.js
Due: package 1/2, package 2/2, deploy front staging

tweak UI for visible autocomplete on mobile
  front/src/routes/search/search.js
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

tweak mobility guide link to help page
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

remove back arrow from help page
  front/src/routes/help-details/help-details.js
Due: package 1/2, package 2/2, deploy front staging

use master wording about tension
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

refactoringmaterial-ui all selects style
  front/src/App.js
  front/src/assets/styles/form.scss
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

Move & refactor "rome-list" to "ogr-list"
  front/src/routes/ogr-list/OgrList.js
  front/src/routes/routes.js
  front/src/routes/search/RomeList.js
  front/src/routes/search/search.js
  front/src/routes/search/step2.js
Due: package 1/2, package 2/2, deploy front staging

migration to remove a specific help from db
  api/src/db/migrations/20210712043620-delete-1000-euros-help.js
Due: publish api image, deploy api staging

Update README.md
  README.md
Due: none

truncate job description if needed
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

Build mobile criterions selection while refactoring some code
  front/src/common/contexts/citiesContext.js
  front/src/routes/cities/cities.js
  front/src/routes/cities/desktop-criterions-panel.js
  front/src/routes/cities/mobile-criterions-panel.js
  front/src/routes/cities/mobile-criterions-selection.js
Due: package 1/2, package 2/2, deploy front staging

create romecode table, ogr route
  api/src/db/migrations/20210726141756-add-rome-codes-table.js
  api/src/db/seeders/development/202107261429-add-rome-codes.js
  api/src/models/definitions/romeCodes.js
  api/src/models/definitions/romeogrs.js
  api/src/routes/RouteOgrs.js
Due: publish api image, deploy api staging

Better filters display
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging

tweak education panel position for desktop
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, deploy front staging

revert part of the style tweaks previously made now that mobile search is position:fixed
  front/src/routes/search/search.js
  front/src/routes/search/step2.js
  front/src/routes/search/step3.js
Due: package 1/2, package 2/2, deploy front staging

rewrite panel-city-life component for mobile & desktop
  front/src/routes/city/panel-city-life.js
Due: package 1/2, package 2/2, deploy front staging

add missing labels to desktop search selects
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

fix: changing criterions on /cities reset the rome code by mistake
  front/src/routes/cities/desktop-criterions-panel.js
Due: package 1/2, package 2/2, deploy front staging

fix links from mobility guide to help
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

job filters: add "others" choice for duration, contracts
  front/src/routes/city/panel-city-jobs.js
Due: package 1/2, package 2/2, deploy front staging
