Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:16.16.0
  script:
  - (which yarn || npm i -g yarn@1.22.15)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - PUB_BRANCH=${CI_COMMIT_BRANCH//\//_}
  - tar -czvf "${PACKAGE_NAME}-${PUB_BRANCH}.${VERSION}.tar.gz" dist
  - echo "${PACKAGE_NAME}-${PUB_BRANCH}.${VERSION}.tar.gz"
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  - PUB_BRANCH=${CI_COMMIT_BRANCH//\//_}
  ...

deploy front staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$IP_SERVER "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PKEY")
  - mkdir -p ~/.ssh
  script:
  ...

TE_MAV-226 : pagination de la liste de résultats
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

Correctifs largeur tuiles villes, repositionnement minimap et couleur marqueur en détail de ville
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/city/CityHeader.js
Due: package 1/2, package 2/2, deploy front staging

Migration react router dom v5->v6 + Maj mineures des autres dépendances
  front/package.json
  front/src/App.js
  front/src/components/inputs/ActionButton.js
  front/src/routes/Routes.js
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/helps/HelpDetailsPage.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/TypeHelpFilter.js
  front/src/routes/home/components/WelcomeSearchForm.js
Due: package 1/2, package 2/2, deploy front staging

fix merge cities.jsx
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

Création de homepage.feature
  tests/cypress/e2e/accueil/common/common.js
  tests/cypress/e2e/accueil/homepage.feature
  tests/cypress/e2e/accueil/homepage/homepage.js
  tests/cypress/e2e/accueil/title.feature
  tests/cypress/e2e/accueil/title/title.js
  tests/cypress/support/step_definitions/helpers.js
  tests/package.json
Due: none

refacto isMobile MainLayout
  front/src/components/MainLayout.js
  front/src/routes/city/City.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/CitySearchPage.js
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

refacto utils capitalize
  front/src/routes/city/City.js
  front/src/routes/city/CityHousing.js
  front/src/routes/city/CityJobs.js
  front/src/routes/city/CityLife.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-57 - SEO cities
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-58 - SEO city
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/city/CitySubHeader.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-60 : update offres d'emploi
  front/src/routes/city/CityJobs.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-58 : city
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-61 : city life
  front/src/routes/city/CityJobs.js
  front/src/routes/city/CityLife.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-57 : update Cities
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

fix eslint
  front/src/routes/cities/Cities.js
  front/src/routes/city/City.js
  front/src/routes/city/CityLife.js
  front/src/utils/utils.js
Due: package 1/2, package 2/2, deploy front staging

Bump plugin react eslint
  front/package.json
Due: package 1/2, package 2/2, deploy front staging

Prise en compte des retours http 429 + appels asynchrones
  api/src/routes/professions.js
  api/src/utils/pe-api.js
Due: publish api image, deploy api staging

Optim total offres détail d'une ville
  api/src/routes/professions.js
  api/src/utils/pe-api.js
Due: publish api image, deploy api staging

Optim total offres détail d'une ville
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

Nettoyage
  api/src/routes/professions.js
  api/src/utils/pe-api.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

Correctif warning eslint
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

prettier + refacto api total des offres PE
  api/src/routes/professions.js
  front/src/common/contexts/professionsContext.js
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging

rm endpoint /searchCount inutilisé
  api/src/routes/professions.js
Due: publish api image, deploy api staging

fix modif sur professionContext.js
  front/src/common/contexts/professionsContext.js
Due: package 1/2, package 2/2, deploy front staging

fix typo professions.js
  api/src/routes/professions.js
Due: publish api image, deploy api staging

Création de footer.feature
  tests/cypress/e2e/accueil/footer.feature
  tests/cypress/e2e/accueil/footer/footer.js
  tests/cypress/e2e/accueil/homepage/homepage.js
Due: none

Correctif recette Cannot read properties of null (reading 'regions')
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

Evol taches communes
  tests/cypress/e2e/accueil/footer/footer.js
  tests/cypress/e2e/accueil/homepage/homepage.js
  tests/cypress/support/step_definitions/formulaire-recherche.js
Due: none

ajout id e2e pour le formulaire de recherche
  front/src/components/CityForm.js
  front/src/components/HelpForm.js
  front/src/components/inputs/ActionButton.js
  front/src/routes/home/components/WelcomeSearchForm.js
Due: package 1/2, package 2/2, deploy front staging

Remove TLS1.1
  nginx/conf.d/production.conf
Due: deploy conf staging

Correctif Liste villes mobile
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

MaJ Statistique d'utilisation du site
  front/src/components/Footer.js
  nginx/conf.d/dev.conf
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: package 1/2, package 2/2, deploy front staging, deploy conf staging

Création de rechercher.feature
  tests/cypress/e2e/accueil/footer/footer.js
  tests/cypress/e2e/accueil/homepage/homepage.js
  tests/cypress/e2e/accueil/rechercher.feature
  tests/cypress/e2e/accueil/rechercher/rechercher.js
  tests/cypress/e2e/accueil/title/title.js
  tests/cypress/support/step_definitions/formulaire-recherche.js
  tests/cypress/support/step_definitions/helpers.js
Due: none

TE_MAV-265 : caractères spéciaux ignorés sur l'input
  front/src/components/inputs/TextSearchInput.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-271 : input zoom on iOS
  front/src/components/HeaderMobile.js
  front/src/components/inputs/TextSearchInput.js
  front/src/routes/home/components/Welcome.js
Due: package 1/2, package 2/2, deploy front staging

fix scroll horizontal mobile sur la page cadre de vie + cities
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CityItem.js
  front/src/routes/cities/components/MobileCriterionsPanel.js
  front/src/routes/city/CityLife.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-272 : recherche textuelle sur les métiers
  api/.eslintrc.js
  api/src/models/TableRomeogrs.js
Due: publish api image, deploy api staging

ajout artifact test e2e et e2e post deploiement
  .gitlab-ci.yml
Due: none

E2e pipeline success
  .gitlab-ci.yml
  front/src/routes/cities/Cities.js
  front/src/routes/cities/components/CityItem.js
  tests/cypress.config.js
  tests/cypress/e2e/accueil/rechercher/rechercher.js
Due: package 1/2, package 2/2, deploy front staging

TE_MAV-155 : Page d'aides - ancres
  front/src/components/inputs/Select.js
  front/src/routes/cities/Cities.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/MobileAppliedFilters.js
  front/src/routes/helps/components/TypeHelpFilter.js
  front/src/routes/helps/components/UseScroll.js
Due: package 1/2, package 2/2, deploy front staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
