Repository StartupsPoleEmploi/mobiville: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package 1/2, package 2/2, publish api image, deploy front staging, deploy api staging, deploy conf staging

package 1/2:
  stage: build
  image: node:12.18.0
  script:
  - (which yarn || npm i -g yarn@1.15.2)
  - cd ./front
  - yarn install
  - yarn run build && cp -RT build dist
  artifacts:
    paths:
    - front/dist
    expire_in: 1 week

package 2/2:
  stage: publish
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq curl
  script:
  - cd ./front
  - tar -czvf "${PACKAGE_NAME}.${PACKAGE_VERSION}.tar.gz" dist
  ...

publish api image:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

deploy front staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  - ssh -o StrictHostKeyChecking=no gitlab@$RECETTE "mkdir -p $WORKDIR_SERVER/nginx/front"
  ...

deploy api staging:
  stage: deploy_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

deploy conf staging:
  stage: config_staging
  before_script:
  - apt-get update -qq
  - apt-get install -y -qq openssh-client
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  script:
  ...

Apply 1 suggestion(s) to 1 file(s)
  front/src/routes/city/CitySubHeader.js
Due: package 1/2, package 2/2, deploy front staging

MT-151 : Début de refonte ergo recherche métier
  front/src/routes/search/Search.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  front/src/components/ActionButton.js
  front/src/constants/styleConstants.js
  front/src/routes/home/Home.js
Due: package 1/2, package 2/2, deploy front staging

lint stage fix merge request events
  .gitlab-ci.yml
  front/package.json
Due: package 1/2, package 2/2, deploy front staging

Finalisation écran City + wording Helps
  front/src/assets/images/icons/pastille.svg
  front/src/components/ActionButton.js
  front/src/components/HeaderDesktop.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
  front/src/routes/city/CitySubHeader.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

fix eslint
  front/src/components/ActionButton.js
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
Due: package 1/2, package 2/2, deploy front staging

fix bug sur equipements de marseille
  api/src/models/TableEquipments.js
Due: publish api image, deploy api staging

subheader fixed désactiver
  front/src/components/SubHeader.js
  front/src/routes/city/CityHousing.js
  front/src/routes/city/CityLife.js
  front/src/routes/home/Home.js
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

fix thumbnail wikipedia pr dijon
  front/src/routes/cities/CityItem.js
Due: package 1/2, package 2/2, deploy front staging

marges page city
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

city retour sur css
  front/src/routes/city/City.js
  front/src/routes/city/CityHeader.js
Due: package 1/2, package 2/2, deploy front staging

fix retour sonar
  front/src/components/SubHeader.js
Due: package 1/2, package 2/2, deploy front staging

evol etape 1 recherche
  front/src/common/contexts/citiesContext.js
  front/src/components/RomeSearch.js
  front/src/routes/search/Search.js
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRegionOrCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

ui page aide et villes
  front/src/routes/city/City.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

ajout rollover ville similaires
  front/src/routes/city/City.js
Due: package 1/2, package 2/2, deploy front staging

Ajout d'un cache + http2
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

MaJ nginx
  docker-compose.yml
Due: deploy conf staging

fix conf nginx
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

Evol resultat de recherche cities
  front/src/common/contexts/citiesContext.js
  front/src/constants/colors.js
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

corrections lint
  front/src/routes/cities/Cities.js
Due: package 1/2, package 2/2, deploy front staging

Etape 2 Recherche ville ou région
  front/src/components/RomeSearch.js
  front/src/components/SearchComponents.js
  front/src/routes/search/Search.js
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRegionOrCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

US 3_a : Ano Conservation choix des filtres
  front/src/routes/helps/HelpDetails.js
  front/src/routes/helps/Helps.js
Due: package 1/2, package 2/2, deploy front staging

popover desktop options de recherche
  front/src/components/SearchComponents.js
  front/src/routes/search/SearchCity.js
  front/src/routes/search/SearchRome.js
Due: package 1/2, package 2/2, deploy front staging

US 2_a : Mise à jour des visuels des villes
  api/package.json
  api/src/crons/cron-cities.js
  api/src/models/TableCities.js
  api/src/utils/api.js
  api/yarn.lock
  package.json
Due: publish api image, deploy api staging

Apply 1 suggestion(s) to 1 file(s)
  package.json
Due: none

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  api/src/utils/api.js
Due: publish api image, deploy api staging

fix dropdown click lent
  front/src/components/SearchComponents.js
Due: package 1/2, package 2/2, deploy front staging

US 4_a : Mettre à jour le logo AL / Mobiville
  front/src/assets/images/LogoMobiville_gros.svg
  front/src/assets/images/LogoMobiville_notext.svg
  front/src/components/HeaderDesktop.js
  front/src/components/HeaderMobile.js
Due: package 1/2, package 2/2, deploy front staging

Correctif suite US 2_a : Mise à jour des visuels des villes
  front/src/routes/cities/CityItem.js
Due: package 1/2, package 2/2, deploy front staging

lint :(
  front/src/routes/cities/CityItem.js
Due: package 1/2, package 2/2, deploy front staging

ajout burst sur les ressources (img etc) mobiville plus amples
  nginx/conf.d/production.conf
  nginx/conf.d/recette.conf
Due: deploy conf staging

correctif bug divers
  front/src/components/ActionButton.js
  front/src/routes/cities/Cities.js
  front/src/routes/home/Home.js
  front/src/routes/mobility-guide/MobilityGuide.js
Due: package 1/2, package 2/2, deploy front staging

US 6_a : Modifier la gestion des filtres sur la page Aide
  front/src/assets/styles/main.scss
  front/src/constants/colors.js
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
  front/src/routes/helps/components/TypeHelpFilter.js
Due: package 1/2, package 2/2, deploy front staging

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  front/src/routes/helps/Helps.js
  front/src/routes/helps/components/CheckmarksSelect.js
  front/src/routes/helps/components/CheckmarksSelectMobile.js
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
  front/src/routes/helps/components/TypeHelpFilter.js
Due: package 1/2, package 2/2, deploy front staging

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  front/src/routes/helps/components/TypeHelpFilter.js
Due: package 1/2, package 2/2, deploy front staging

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

MT-137 [Evolution] Ajouter des boutons de retours sur les pages des villes
  front/src/routes/helps/components/CheckmarksSelectSituation.js
  front/src/routes/helps/components/CheckmarksSelectSituationMobile.js
Due: package 1/2, package 2/2, deploy front staging

fix coderegion type cast
  api/src/models/TableCities.js
Due: publish api image, deploy api staging

Path conditions:
  package 1/2: any of: front/**/*
  package 2/2: any of: front/**/*
  publish api image: any of: api/**/*
  deploy front staging: any of: front/**/*
  deploy api staging: any of: api/**/*
  deploy conf staging: any of: nginx/**/*, /package.json, docker-compose.yml, docker-compose.recette.yml
